$ColorSet_ThemeColor_Accent_0: #18800d;
$ColorSet_ThemeColor_Accent_0_Hover: #19820d;
$ColorSet_ThemeColor_Accent_0_Focus: #19850d;
$ColorSet_ThemeColor_Accent_10: #21a612;
$ColorSet_ThemeColor_Accent_10_Hover: #21a812;
$ColorSet_ThemeColor_Accent_10_Focus: #22ab13;
$ColorSet_ThemeColor_Accent_20: #2ac619;
$ColorSet_ThemeColor_Accent_20_Hover: #2bc919;
$ColorSet_ThemeColor_Accent_20_Focus: #2bcb19;
$ColorSet_ThemeColor_Accent_30: #34de21;
$ColorSet_ThemeColor_Accent_30_Hover: #35e022;
$ColorSet_ThemeColor_Accent_30_Focus: #35e322;
$ColorSet_ThemeColor_Accent_40: #41ec2e;
$ColorSet_ThemeColor_Accent_40_Hover: #42ef2e;
$ColorSet_ThemeColor_Accent_40_Focus: #42f22f;
$ColorSet_ThemeColor_Accent_50: #54f542;
$ColorSet_ThemeColor_Accent_50_Hover: #55f843;
$ColorSet_ThemeColor_Accent_50_Focus: #56fa44;
$ColorSet_ThemeColor_Accent_60: #71fa62;
$ColorSet_ThemeColor_Accent_60_Hover: #72fd63;
$ColorSet_ThemeColor_Accent_60_Focus: #73ff64;
$ColorSet_ThemeColor_Accent_70: #98fd8d;
$ColorSet_ThemeColor_Accent_70_Hover: #99ff8e;
$ColorSet_ThemeColor_Accent_70_Focus: #9bff8f;
$ColorSet_ThemeColor_Accent_80: #c6ffbf;
$ColorSet_ThemeColor_Accent_80_Hover: #c8ffc1;
$ColorSet_ThemeColor_Accent_80_Focus: #caffc3;
$ColorSet_ThemeColor_AccentBorder_0: #1b8c0e;
$ColorSet_ThemeColor_AccentBorder_0_Hover: #1d990f;
$ColorSet_ThemeColor_AccentBorder_0_Focus: #1fa110;
$ColorSet_ThemeColor_AccentBorder_10: #23af13;
$ColorSet_ThemeColor_AccentBorder_10_Hover: #25bb15;
$ColorSet_ThemeColor_AccentBorder_10_Focus: #27c315;
$ColorSet_ThemeColor_AccentBorder_20: #2bcc19;
$ColorSet_ThemeColor_AccentBorder_20_Hover: #2ed81b;
$ColorSet_ThemeColor_AccentBorder_20_Focus: #30e01c;
$ColorSet_ThemeColor_AccentBorder_30: #35e122;
$ColorSet_ThemeColor_AccentBorder_30_Hover: #38ee24;
$ColorSet_ThemeColor_AccentBorder_30_Focus: #3af525;
$ColorSet_ThemeColor_AccentBorder_40: #42ee2e;
$ColorSet_ThemeColor_AccentBorder_40_Hover: #45fb31;
$ColorSet_ThemeColor_AccentBorder_40_Focus: #47ff32;
$ColorSet_ThemeColor_AccentBorder_50: #54f642;
$ColorSet_ThemeColor_AccentBorder_50_Hover: #59ff46;
$ColorSet_ThemeColor_AccentBorder_50_Focus: #5bff48;
$ColorSet_ThemeColor_AccentBorder_60: #71fb62;
$ColorSet_ThemeColor_AccentBorder_60_Hover: #77ff67;
$ColorSet_ThemeColor_AccentBorder_60_Focus: #7aff6a;
$ColorSet_ThemeColor_AccentBorder_70: #98fd8d;
$ColorSet_ThemeColor_AccentBorder_70_Hover: #a0ff94;
$ColorSet_ThemeColor_AccentBorder_70_Focus: #a4ff98;
$ColorSet_ThemeColor_AccentBorder_80: #c6ffbf;
$ColorSet_ThemeColor_AccentBorder_80_Hover: #d0ffc9;
$ColorSet_ThemeColor_AccentBorder_80_Focus: #d5ffcf;
$ColorSet_ThemeColor_Background_0: #000000;
$ColorSet_ThemeColor_Background_0_Hover: #030303;
$ColorSet_ThemeColor_Background_0_Focus: #050505;
$ColorSet_ThemeColor_Background_10: #060606;
$ColorSet_ThemeColor_Background_10_Hover: #080808;
$ColorSet_ThemeColor_Background_10_Focus: #0b0b0b;
$ColorSet_ThemeColor_Background_20: #0b0b0b;
$ColorSet_ThemeColor_Background_20_Hover: #0d0d0e;
$ColorSet_ThemeColor_Background_20_Focus: #101010;
$ColorSet_ThemeColor_Background_30: #101011;
$ColorSet_ThemeColor_Background_30_Hover: #131313;
$ColorSet_ThemeColor_Background_30_Focus: #151516;
$ColorSet_ThemeColor_Background_40: #161516;
$ColorSet_ThemeColor_Background_40_Hover: #181819;
$ColorSet_ThemeColor_Background_40_Focus: #1a1a1b;
$ColorSet_ThemeColor_Background_50: #1b1a1c;
$ColorSet_ThemeColor_Background_50_Hover: #1d1d1e;
$ColorSet_ThemeColor_Background_50_Focus: #201f21;
$ColorSet_ThemeColor_Background_60: #201f21;
$ColorSet_ThemeColor_Background_60_Hover: #222124;
$ColorSet_ThemeColor_Background_60_Focus: #252427;
$ColorSet_ThemeColor_Background_70: #252427;
$ColorSet_ThemeColor_Background_70_Hover: #27262a;
$ColorSet_ThemeColor_Background_70_Focus: #2a282c;
$ColorSet_ThemeColor_Background_80: #2a282d;
$ColorSet_ThemeColor_Background_80_Hover: #2c2a2f;
$ColorSet_ThemeColor_Background_80_Focus: #2e2d32;
$ColorSet_ThemeColor_Background_90: #2e2d32;
$ColorSet_ThemeColor_Background_90_Hover: #312f35;
$ColorSet_ThemeColor_Background_90_Focus: #333137;
$ColorSet_ThemeColor_Background_100: #333138;
$ColorSet_ThemeColor_Background_100_Hover: #35333a;
$ColorSet_ThemeColor_Background_100_Focus: #38353d;
$ColorSet_ThemeColor_Background_110: #38353d;
$ColorSet_ThemeColor_Background_110_Hover: #3a3740;
$ColorSet_ThemeColor_Background_110_Focus: #3c3942;
$ColorSet_ThemeColor_Background_120: #3c3943;
$ColorSet_ThemeColor_Background_120_Hover: #3e3b45;
$ColorSet_ThemeColor_Background_120_Focus: #413d48;
$ColorSet_ThemeColor_Background_130: #403d49;
$ColorSet_ThemeColor_Background_130_Hover: #433f4b;
$ColorSet_ThemeColor_Background_130_Focus: #45414e;
$ColorSet_ThemeColor_Background_140: #45404e;
$ColorSet_ThemeColor_Background_140_Hover: #474351;
$ColorSet_ThemeColor_Background_140_Focus: #494553;
$ColorSet_ThemeColor_Background_150: #494454;
$ColorSet_ThemeColor_Background_150_Hover: #4b4656;
$ColorSet_ThemeColor_Background_150_Focus: #4d4859;
$ColorSet_ThemeColor_Background_160: #4d4759;
$ColorSet_ThemeColor_Background_160_Hover: #4f495c;
$ColorSet_ThemeColor_Background_160_Focus: #514b5e;
$ColorSet_ThemeColor_Border_0: #0d0d0d;
$ColorSet_ThemeColor_Border_0_Hover: #1a1a1a;
$ColorSet_ThemeColor_Border_0_Focus: #212121;
$ColorSet_ThemeColor_Border_10: #121212;
$ColorSet_ThemeColor_Border_10_Hover: #1f1f1f;
$ColorSet_ThemeColor_Border_10_Focus: #262627;
$ColorSet_ThemeColor_Border_20: #171718;
$ColorSet_ThemeColor_Border_20_Hover: #242425;
$ColorSet_ThemeColor_Border_20_Focus: #2c2b2c;
$ColorSet_ThemeColor_Border_30: #1d1c1d;
$ColorSet_ThemeColor_Border_30_Hover: #29292a;
$ColorSet_ThemeColor_Border_30_Focus: #313032;
$ColorSet_ThemeColor_Border_40: #222123;
$ColorSet_ThemeColor_Border_40_Hover: #2e2d30;
$ColorSet_ThemeColor_Border_40_Focus: #363537;
$ColorSet_ThemeColor_Border_50: #272629;
$ColorSet_ThemeColor_Border_50_Hover: #333235;
$ColorSet_ThemeColor_Border_50_Focus: #3a393d;
$ColorSet_ThemeColor_Border_60: #2c2b2e;
$ColorSet_ThemeColor_Border_60_Hover: #38373b;
$ColorSet_ThemeColor_Border_60_Focus: #3f3e43;
$ColorSet_ThemeColor_Border_70: #312f34;
$ColorSet_ThemeColor_Border_70_Hover: #3d3b41;
$ColorSet_ThemeColor_Border_70_Focus: #444248;
$ColorSet_ThemeColor_Border_80: #353439;
$ColorSet_ThemeColor_Border_80_Hover: #413f46;
$ColorSet_ThemeColor_Border_80_Focus: #48464e;
$ColorSet_ThemeColor_Border_90: #3a383f;
$ColorSet_ThemeColor_Border_90_Hover: #46434c;
$ColorSet_ThemeColor_Border_90_Focus: #4d4a53;
$ColorSet_ThemeColor_Border_100: #3f3c45;
$ColorSet_ThemeColor_Border_100_Hover: #4a4751;
$ColorSet_ThemeColor_Border_100_Focus: #514e59;
$ColorSet_ThemeColor_Border_110: #43404a;
$ColorSet_ThemeColor_Border_110_Hover: #4f4b57;
$ColorSet_ThemeColor_Border_110_Focus: #56525f;
$ColorSet_ThemeColor_Border_120: #484450;
$ColorSet_ThemeColor_Border_120_Hover: #534f5c;
$ColorSet_ThemeColor_Border_120_Focus: #5a5564;
$ColorSet_ThemeColor_Border_130: #4c4755;
$ColorSet_ThemeColor_Border_130_Hover: #575262;
$ColorSet_ThemeColor_Border_130_Focus: #5e586a;
$ColorSet_ThemeColor_Border_140: #504b5b;
$ColorSet_ThemeColor_Border_140_Hover: #5b5568;
$ColorSet_ThemeColor_Border_140_Focus: #625c6f;
$ColorSet_ThemeColor_Border_150: #544e60;
$ColorSet_ThemeColor_Border_150_Hover: #5f596d;
$ColorSet_ThemeColor_Border_150_Focus: #665f75;
$ColorSet_ThemeColor_Border_160: #585266;
$ColorSet_ThemeColor_Border_160_Hover: #635c73;
$ColorSet_ThemeColor_Border_160_Focus: #6a627a;
$ColorSet_ThemeColor_Text_0: #095900;
$ColorSet_ThemeColor_Text_10: #108b02;
$ColorSet_ThemeColor_Text_20: #18b507;
$ColorSet_ThemeColor_Text_30: #23d410;
$ColorSet_ThemeColor_Text_40: #32e71e;
$ColorSet_ThemeColor_Text_50: #45f231;
$ColorSet_ThemeColor_Text_60: #5cf94a;
$ColorSet_ThemeColor_Text_70: #75fc66;
$ColorSet_ThemeColor_Text_80: #8cff80;
$ColorSet_ThemeColor_TR_0: #0b0a0d;
$ColorSet_ThemeColor_TR_10: #111014;
$ColorSet_ThemeColor_TR_20: #151318;
$ColorSet_ThemeColor_TR_30: #16141a;
$ColorSet_ThemeColor_TR_Green_0: #001a00;
$ColorSet_ThemeColor_TR_Green_10: #002000;
$ColorSet_ThemeColor_TR_Green_20: #002500;
$ColorSet_ThemeColor_TR_Green_30: #002600;
$ColorSet_ThemeColor_TR_Red_0: #210000;
$ColorSet_ThemeColor_TR_Red_10: #280000;
$ColorSet_ThemeColor_TR_Red_20: #2c0000;
$ColorSet_ThemeColor_TR_Red_30: #2e0000;
