$ColorSet_ThemeColor_Accent_0: #800d4a;
$ColorSet_ThemeColor_Accent_0_Hover: #820d4b;
$ColorSet_ThemeColor_Accent_0_Focus: #850d4d;
$ColorSet_ThemeColor_Accent_10: #a61261;
$ColorSet_ThemeColor_Accent_10_Hover: #a81262;
$ColorSet_ThemeColor_Accent_10_Focus: #ab1364;
$ColorSet_ThemeColor_Accent_20: #c61975;
$ColorSet_ThemeColor_Accent_20_Hover: #c91977;
$ColorSet_ThemeColor_Accent_20_Focus: #cb1978;
$ColorSet_ThemeColor_Accent_30: #de2186;
$ColorSet_ThemeColor_Accent_30_Hover: #e02287;
$ColorSet_ThemeColor_Accent_30_Focus: #e32289;
$ColorSet_ThemeColor_Accent_40: #ec2e94;
$ColorSet_ThemeColor_Accent_40_Hover: #ef2e95;
$ColorSet_ThemeColor_Accent_40_Focus: #f22f97;
$ColorSet_ThemeColor_Accent_50: #f542a2;
$ColorSet_ThemeColor_Accent_50_Hover: #f843a3;
$ColorSet_ThemeColor_Accent_50_Focus: #fa44a5;
$ColorSet_ThemeColor_Accent_60: #fa62b3;
$ColorSet_ThemeColor_Accent_60_Hover: #fd63b5;
$ColorSet_ThemeColor_Accent_60_Focus: #ff64b7;
$ColorSet_ThemeColor_Accent_70: #fd8dc9;
$ColorSet_ThemeColor_Accent_70_Hover: #ff8ecb;
$ColorSet_ThemeColor_Accent_70_Focus: #ff8fcd;
$ColorSet_ThemeColor_Accent_80: #ffbfe1;
$ColorSet_ThemeColor_Accent_80_Hover: #ffc1e4;
$ColorSet_ThemeColor_Accent_80_Focus: #ffc3e6;
$ColorSet_ThemeColor_AccentBorder_0: #8c0e51;
$ColorSet_ThemeColor_AccentBorder_0_Hover: #990f59;
$ColorSet_ThemeColor_AccentBorder_0_Focus: #a1105d;
$ColorSet_ThemeColor_AccentBorder_10: #af1366;
$ColorSet_ThemeColor_AccentBorder_10_Hover: #bb156d;
$ColorSet_ThemeColor_AccentBorder_10_Focus: #c31572;
$ColorSet_ThemeColor_AccentBorder_20: #cc1979;
$ColorSet_ThemeColor_AccentBorder_20_Hover: #d81b80;
$ColorSet_ThemeColor_AccentBorder_20_Focus: #e01c85;
$ColorSet_ThemeColor_AccentBorder_30: #e12288;
$ColorSet_ThemeColor_AccentBorder_30_Hover: #ee2490;
$ColorSet_ThemeColor_AccentBorder_30_Focus: #f52594;
$ColorSet_ThemeColor_AccentBorder_40: #ee2e95;
$ColorSet_ThemeColor_AccentBorder_40_Hover: #fb319d;
$ColorSet_ThemeColor_AccentBorder_40_Focus: #ff32a1;
$ColorSet_ThemeColor_AccentBorder_50: #f642a2;
$ColorSet_ThemeColor_AccentBorder_50_Hover: #ff46ab;
$ColorSet_ThemeColor_AccentBorder_50_Focus: #ff48b0;
$ColorSet_ThemeColor_AccentBorder_60: #fb62b3;
$ColorSet_ThemeColor_AccentBorder_60_Hover: #ff67bc;
$ColorSet_ThemeColor_AccentBorder_60_Focus: #ff6ac2;
$ColorSet_ThemeColor_AccentBorder_70: #fd8dc9;
$ColorSet_ThemeColor_AccentBorder_70_Hover: #ff94d3;
$ColorSet_ThemeColor_AccentBorder_70_Focus: #ff98d9;
$ColorSet_ThemeColor_AccentBorder_80: #ffbfe1;
$ColorSet_ThemeColor_AccentBorder_80_Hover: #ffc9ed;
$ColorSet_ThemeColor_AccentBorder_80_Focus: #ffcff3;
$ColorSet_ThemeColor_Background_0: #ffffff;
$ColorSet_ThemeColor_Background_0_Hover: #ffffff;
$ColorSet_ThemeColor_Background_0_Focus: #ffffff;
$ColorSet_ThemeColor_Background_10: #fffcfe;
$ColorSet_ThemeColor_Background_10_Hover: #ffffff;
$ColorSet_ThemeColor_Background_10_Focus: #ffffff;
$ColorSet_ThemeColor_Background_20: #fff9fc;
$ColorSet_ThemeColor_Background_20_Hover: #fffcff;
$ColorSet_ThemeColor_Background_20_Focus: #fffeff;
$ColorSet_ThemeColor_Background_30: #fef7fb;
$ColorSet_ThemeColor_Background_30_Hover: #fff9fd;
$ColorSet_ThemeColor_Background_30_Focus: #fffcff;
$ColorSet_ThemeColor_Background_40: #fdf4f9;
$ColorSet_ThemeColor_Background_40_Hover: #fff7fc;
$ColorSet_ThemeColor_Background_40_Focus: #fff9fe;
$ColorSet_ThemeColor_Background_50: #fcf2f8;
$ColorSet_ThemeColor_Background_50_Hover: #fff4fa;
$ColorSet_ThemeColor_Background_50_Focus: #fff7fd;
$ColorSet_ThemeColor_Background_60: #fbf0f6;
$ColorSet_ThemeColor_Background_60_Hover: #fef2f8;
$ColorSet_ThemeColor_Background_60_Focus: #fff4fb;
$ColorSet_ThemeColor_Background_70: #f9edf4;
$ColorSet_ThemeColor_Background_70_Hover: #fceff6;
$ColorSet_ThemeColor_Background_70_Focus: #fef2f9;
$ColorSet_ThemeColor_Background_80: #f7eaf1;
$ColorSet_ThemeColor_Background_80_Hover: #faecf3;
$ColorSet_ThemeColor_Background_80_Focus: #fceff6;
$ColorSet_ThemeColor_Background_90: #f4e7ee;
$ColorSet_ThemeColor_Background_90_Hover: #f7e9f0;
$ColorSet_ThemeColor_Background_90_Focus: #f9ecf3;
$ColorSet_ThemeColor_Background_100: #f0e3ea;
$ColorSet_ThemeColor_Background_100_Hover: #f3e5ed;
$ColorSet_ThemeColor_Background_100_Focus: #f5e8ef;
$ColorSet_ThemeColor_Background_110: #ecdee5;
$ColorSet_ThemeColor_Background_110_Hover: #eee0e8;
$ColorSet_ThemeColor_Background_110_Focus: #f1e3ea;
$ColorSet_ThemeColor_Background_120: #e6d8df;
$ColorSet_ThemeColor_Background_120_Hover: #e8dae2;
$ColorSet_ThemeColor_Background_120_Focus: #ebdde4;
$ColorSet_ThemeColor_Background_130: #ded1d8;
$ColorSet_ThemeColor_Background_130_Hover: #e1d3da;
$ColorSet_ThemeColor_Background_130_Focus: #e3d6dd;
$ColorSet_ThemeColor_Background_140: #d5c8cf;
$ColorSet_ThemeColor_Background_140_Hover: #d7cbd1;
$ColorSet_ThemeColor_Background_140_Focus: #dacdd4;
$ColorSet_ThemeColor_Background_150: #cabec5;
$ColorSet_ThemeColor_Background_150_Hover: #cdc1c7;
$ColorSet_ThemeColor_Background_150_Focus: #d0c3ca;
$ColorSet_ThemeColor_Background_160: #bfb4ba;
$ColorSet_ThemeColor_Background_160_Hover: #c2b6bc;
$ColorSet_ThemeColor_Background_160_Focus: #c4b9bf;
$ColorSet_ThemeColor_Border_0: #e6e6e6;
$ColorSet_ThemeColor_Border_0_Hover: #d9d9d9;
$ColorSet_ThemeColor_Border_0_Focus: #cccccc;
$ColorSet_ThemeColor_Border_10: #e5e1e4;
$ColorSet_ThemeColor_Border_10_Hover: #d9d5d7;
$ColorSet_ThemeColor_Border_10_Focus: #ccc8ca;
$ColorSet_ThemeColor_Border_20: #e5dde2;
$ColorSet_ThemeColor_Border_20_Hover: #d8d1d5;
$ColorSet_ThemeColor_Border_20_Focus: #ccc5c8;
$ColorSet_ThemeColor_Border_30: #e5dae0;
$ColorSet_ThemeColor_Border_30_Hover: #d8ced3;
$ColorSet_ThemeColor_Border_30_Focus: #cbc1c7;
$ColorSet_ThemeColor_Border_40: #e4d6de;
$ColorSet_ThemeColor_Border_40_Hover: #d7cad1;
$ColorSet_ThemeColor_Border_40_Focus: #cabec5;
$ColorSet_ThemeColor_Border_50: #e3d3dc;
$ColorSet_ThemeColor_Border_50_Hover: #d6c7cf;
$ColorSet_ThemeColor_Border_50_Focus: #c9bbc3;
$ColorSet_ThemeColor_Border_60: #e2d0da;
$ColorSet_ThemeColor_Border_60_Hover: #d5c4cd;
$ColorSet_ThemeColor_Border_60_Focus: #c8b9c1;
$ColorSet_ThemeColor_Border_70: #e0cdd7;
$ColorSet_ThemeColor_Border_70_Hover: #d3c2cb;
$ColorSet_ThemeColor_Border_70_Focus: #c6b6bf;
$ColorSet_ThemeColor_Border_80: #decad4;
$ColorSet_ThemeColor_Border_80_Hover: #d1bfc8;
$ColorSet_ThemeColor_Border_80_Focus: #c4b3bc;
$ColorSet_ThemeColor_Border_90: #dbc7d1;
$ColorSet_ThemeColor_Border_90_Hover: #cebbc5;
$ColorSet_ThemeColor_Border_90_Focus: #c1b0b9;
$ColorSet_ThemeColor_Border_100: #d7c3cd;
$ColorSet_ThemeColor_Border_100_Hover: #cab7c1;
$ColorSet_ThemeColor_Border_100_Focus: #bdacb5;
$ColorSet_ThemeColor_Border_110: #d2bec9;
$ColorSet_ThemeColor_Border_110_Hover: #c5b2bc;
$ColorSet_ThemeColor_Border_110_Focus: #b9a7b0;
$ColorSet_ThemeColor_Border_120: #ccb8c3;
$ColorSet_ThemeColor_Border_120_Hover: #bfadb7;
$ColorSet_ThemeColor_Border_120_Focus: #b3a1aa;
$ColorSet_ThemeColor_Border_130: #c4b1bb;
$ColorSet_ThemeColor_Border_130_Hover: #b8a6af;
$ColorSet_ThemeColor_Border_130_Focus: #ab9aa3;
$ColorSet_ThemeColor_Border_140: #bba9b3;
$ColorSet_ThemeColor_Border_140_Hover: #af9da7;
$ColorSet_ThemeColor_Border_140_Focus: #a2929a;
$ColorSet_ThemeColor_Border_150: #b19fa9;
$ColorSet_ThemeColor_Border_150_Hover: #a4949d;
$ColorSet_ThemeColor_Border_150_Focus: #978890;
$ColorSet_ThemeColor_Border_160: #a6959e;
$ColorSet_ThemeColor_Border_160_Hover: #998a92;
$ColorSet_ThemeColor_Border_160_Focus: #8c7e86;
$ColorSet_ThemeColor_Text_0: #a68d9a;
$ColorSet_ThemeColor_Text_10: #917c87;
$ColorSet_ThemeColor_Text_20: #7c6b74;
$ColorSet_ThemeColor_Text_30: #685a61;
$ColorSet_ThemeColor_Text_40: #534a4f;
$ColorSet_ThemeColor_Text_50: #3e393c;
$ColorSet_ThemeColor_Text_60: #292728;
$ColorSet_ThemeColor_Text_70: #151414;
$ColorSet_ThemeColor_Text_80: #000000;
$ColorSet_ThemeColor_TR_0: #fff7fb;
$ColorSet_ThemeColor_TR_10: #faf2f6;
$ColorSet_ThemeColor_TR_20: #f6eff3;
$ColorSet_ThemeColor_TR_30: #f5edf1;
$ColorSet_ThemeColor_TR_Green_0: #bfe0bf;
$ColorSet_ThemeColor_TR_Green_10: #c8ebc8;
$ColorSet_ThemeColor_TR_Green_20: #cef2ce;
$ColorSet_ThemeColor_TR_Green_30: #d0f5d0;
$ColorSet_ThemeColor_TR_Red_0: #e0bfbf;
$ColorSet_ThemeColor_TR_Red_10: #ebc8c8;
$ColorSet_ThemeColor_TR_Red_20: #f2cece;
$ColorSet_ThemeColor_TR_Red_30: #f5d0d0;
