@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@functions {

    [Parameter]
    [SuppressMessage("ReSharper", "MemberCanBePrivate.Global")]
    [SuppressMessage("ReSharper", "UnusedAutoPropertyAccessor.Global")]
    public TableStateHandler TableState { get; set; }

    [Parameter]
    [SuppressMessage("ReSharper", "MemberCanBePrivate.Global")]
    [SuppressMessage("ReSharper", "UnusedAutoPropertyAccessor.Global")]
    public string FieldID { get; set; }

}

<div class="FlareTableInputContainer">
    <input class="FlareTableFilterInput" type="text" name="BlazorTable_Filter_@FieldID" value="@TableState.ColumnValue(FieldID)" @oninput="@((ChangeEventArgs args) => { TableState.UpdateColumnValue(args.Value, FieldID); })"/>
    <button class="FlareTableSortDirIndicator @TableState.SortDir(FieldID)" @onclick="@(() => TableState.UpdateSortDirection(FieldID))">Sort</button>
</div>