@using System.Diagnostics.CodeAnalysis
@using Microsoft.AspNetCore.Components
@functions {

    [Parameter]
    [SuppressMessage("ReSharper", "MemberCanBePrivate.Global")]
    [SuppressMessage("ReSharper", "UnusedAutoPropertyAccessor.Global")]
    public TableStateHandler TableState { get; set; }

    [Parameter]
    [SuppressMessage("ReSharper", "MemberCanBePrivate.Global")]
    [SuppressMessage("ReSharper", "UnusedAutoPropertyAccessor.Global")]
    public string FieldID { get; set; }

}

<div class="FlareTableInputContainer">
    <input class="FlareTableFilterInput" type="text" name="BlazorTable_Filter_@FieldID" @oninput="@(args => { TableState.UpdateColumn(args, FieldID); })"/>
    <button class="FlareTableSortDirIndicator @TableState.SortDir(FieldID)" @onclick="@(() => TableState.UpdateSort(FieldID))">Sort</button>
</div>