@import '../_resources/UISet.ShapeSet/Variables/Transitions.scss';
@import '../_resources/UISet.ShapeSet/Elements/Input.scss';
@import '../_resources/UISet.ShapeSet/Elements/Button.scss';

//noinspection SassScssResolvedByNameOnly

.FlareSelect_Container {
    width: 100%;

    &--Monospace * {
        font-family: var(--FontSet-MonospaceFont);
    }

    &--SansSerif * {
        font-family: var(--FontSet-SansSerifFont);
    }

    .FlareSelect_SelectedContainer {
        //background-color: var(--ColorSet_ThemeColor_Background_40);
        //border:           1px solid var(--ColorSet_ThemeColor_Border_40);
        background-color: var(--ColorSet_ThemeColor_Background_60);
        border:           1px solid var(--ColorSet_ThemeColor_Border_60);
        border-radius:    3px;

        color:            var(--ColorSet_ThemeColor_Text_60);
        cursor:           pointer;
        width:            100%;
        transition:       $TransitionRestore;


        &--OptionsHidden:hover {
            background-color: var(--ColorSet_ThemeColor_Background_60_Hover);
            border-bottom:    1px solid var(--ColorSet_ThemeColor_AccentBorder_60_Hover);
            border-left:      1px solid var(--ColorSet_ThemeColor_Border_60_Hover);
            border-right:     1px solid var(--ColorSet_ThemeColor_Border_60_Hover);
            border-top:       1px solid var(--ColorSet_ThemeColor_Border_60_Hover);
            transition:       $TransitionHover;
        }

        &--OptionsShown {
            background-color: var(--ColorSet_ThemeColor_Background_60_Focus);
            border-bottom:    1px solid var(--ColorSet_ThemeColor_AccentBorder_60_Focus);
            border-left:      1px solid var(--ColorSet_ThemeColor_Border_60_Focus);
            border-right:     1px solid var(--ColorSet_ThemeColor_Border_60_Focus);
            border-top:       1px solid var(--ColorSet_ThemeColor_Border_60_Focus);
            outline:          none;
            transition:       $TransitionSnap;
        }

        > * {
            background-color: unset;
            border:           none;

            &:hover, &:active, &:focus {
                background-color: unset;
                border:           none;
                outline:          none;
            }
        }

        .FlareSelect_Selected {
            align-items: center;
            display:     flex;
            flex-wrap:   wrap;
            width:       100%;

            .FlareSelect_Selection {
                align-items: center;
                color:       var(--ColorSet_ThemeColor_Text_60);
                display:     inline-flex;

                .FlareSelect_SelectionRemoveButton {
                    background:  none;
                    border:      none;
                    color:       var(--ColorSet_ThemeColor_Background_200);
                    cursor:      pointer;
                    flex-shrink: 0;
                    font-family: 'Arial', sans-serif;
                    height:      15px;
                    line-height: 0;
                    margin-left: 1px;
                    outline:     none;
                    padding:     0;
                    width:       15px;

                    &:hover {
                        color: var(--ColorSet_ThemeColor_SolidRed_0);
                    }
                }
            }

            .FlareSelect_EmptyPlaceholder {
                color:        var(--ColorSet_ThemeColor_Text_20);
                cursor:       unset;
                font-style:   italic;
                padding-left: 3px;
                user-select:  none;
            }
        }
    }

    .FlareSelect_OptionsContainer {
        position: relative;
        width:    100%;

        .FlareSelect_Options {
            -moz-background-clip:    padding;
            -webkit-background-clip: padding-box;
            background-clip:         padding-box;
            background-color:        var(--ColorSet_ThemeColor_Background_80);
            border-left:             1px solid var(--ColorSet_ThemeColor_Border_80);
            border-radius:           3px;
            border-right:            1px solid var(--ColorSet_ThemeColor_Border_80);
            border-top:              1px solid var(--ColorSet_ThemeColor_Border_80);
            box-shadow:              0 0 3px 1px var(--ColorSet_ThemeColor_ElementShadow);
            color:                   var(--ColorSet_ThemeColor_Text_50);
            position:                absolute;
            top:                     -0.5px;
            z-index:                 99;

            div {
                border-bottom: 1px solid var(--ColorSet_ThemeColor_Border_80);
                border-left:   2px solid var(--ColorSet_ThemeColor_Background_80);
                box-sizing:    border-box;
                cursor:        pointer;
                padding:       3px 4px;
                width:         100%;

                &:hover {
                    background-color: var(--ColorSet_ThemeColor_Background_80_Hover);
                }

                &.FlareSelect_Option--Selected {
                    background-color: var(--ColorSet_ThemeColor_Accent_40);
                    border-left:      2px solid var(--ColorSet_ThemeColor_Accent_40);
                    color:            var(--ColorSet_ThemeColor_AccentText);

                    &:hover {
                        background-color: var(--ColorSet_ThemeColor_Accent_30);
                        border-left:      2px solid var(--ColorSet_ThemeColor_Accent_40);
                    }
                }

                &.FlareSelect_Option--InvalidLengthNotice, &.FlareSelect_Option--Placeholder {
                    background-color: var(--ColorSet_ThemeColor_Background_80);
                    color:            var(--ColorSet_ThemeColor_Text_20);
                    cursor:           unset;
                    font-style:       italic;
                    font-weight:      500;
                }

                &.FlareSelect_Option--InvalidLengthNotice {
                    border-bottom-left-radius:  3px;
                    border-bottom-right-radius: 3px;
                    border-left:                2px solid red;
                }

                &.FlareSelect_Option--Disabled {
                    background-color: var(--ColorSet_ThemeColor_Background_50);
                    border-left:      2px solid red;
                    color:            var(--ColorSet_ThemeColor_Text_20);
                    cursor:           not-allowed;

                    &:hover {
                        background-color: var(--ColorSet_ThemeColor_Background_50);
                    }
                }

                &:hover:not(.FlareSelect_FilterInputContainer):not(.FlareSelect_Option--InvalidLengthNotice):not(.FlareSelect_Option--Placeholder):not(.FlareSelect_Option--Disabled) {
                    border-left: 2px solid var(--ColorSet_ThemeColor_Accent_40);
                }
            }
        }
    }

    .FlareSelect_FilterInputContainer {
        -moz-background-clip:    padding;
        -webkit-background-clip: padding-box;
        background-clip:         padding-box;
        position:                relative;

        .FlareSelect_FilterInput {
            box-sizing: border-box;
            height:     21px;
            outline:    none;
            padding:    1px 4px;
        }

        .FlareSelect_FilterInputSearchIcon {
            position: absolute;
            right:    7px;
            stroke:   var(--ColorSet_ThemeColor_Background_200);
            top:      7.5px;
            width:    12px;
        }
    }

    &--Single {
        .FlareSelect_SelectedContainer {
            min-height: 25px;
            transition: $TransitionRestore;

            .FlareSelect_Selected {
                box-sizing: border-box;
                min-height: 25px;


                .FlareSelect_Selection {
                    justify-content: space-between;
                    padding:         0 3px;
                    width:           100%;
                }
            }
        }

        .FlareSelect_OptionsContainer {
            min-width: 100%;

            .FlareSelect_Options {

                .FlareSelect_FilterInputContainer {
                    border-top-left-radius:  3px;
                    border-top-right-radius: 3px;
                    cursor:                  default;
                    padding:                 0;

                    &:hover {
                        background-color: var(--ColorSet_ThemeColor_Background_80);
                    }

                    .FlareSelect_FilterInput {
                        @include _InputBase;

                        background-color: var(--ColorSet_ThemeColor_Background_40);
                        border:           1px solid var(--ColorSet_ThemeColor_Border_40);
                        border-radius:    2px;
                        box-shadow:       none !important;
                        margin:           3px;
                        width:            calc(100% - 6px);
                    }
                }
            }
        }
    }

    &--Multiple {
        .FlareSelect_SelectedContainer {
            min-height: 33px;

            .FlareSelect_Selected {
                box-sizing: border-box;
                min-height: calc(33px);
                padding:    3px;

                .FlareSelect_Selection {
                    background-color: var(--ColorSet_ThemeColor_Background_50);
                    border:           1px solid var(--ColorSet_ThemeColor_Border_50);
                    border-radius:    3px;
                    box-sizing:       border-box;
                    cursor:           default;
                    margin:           2px;
                    min-height:       23px;
                    padding-left:     3px;
                    transition:       $TransitionRestore;

                    &:hover {
                        background-color: var(--ColorSet_ThemeColor_Background_50_Hover);
                        border-bottom:    1px solid var(--ColorSet_ThemeColor_Accent_40);
                        border-left:      1px solid var(--ColorSet_ThemeColor_Border_50_Hover);
                        border-right:     1px solid var(--ColorSet_ThemeColor_Border_50_Hover);
                        border-top:       1px solid var(--ColorSet_ThemeColor_Border_50_Hover);
                        transition:       $TransitionHover;
                    }
                }
            }

            &--OptionsHidden:hover .FlareSelect_FilterInputContainer .FlareSelect_FilterInput {
                background-color: var(--ColorSet_ThemeColor_Background_60_Hover);
                //border-bottom:    1px solid var(--ColorSet_ThemeColor_AccentBorder_60_Hover);
                //border-left:      1px solid var(--ColorSet_ThemeColor_Border_60_Hover);
                //border-right:     1px solid var(--ColorSet_ThemeColor_Border_60_Hover);
                //border-top:       1px solid var(--ColorSet_ThemeColor_Border_60_Hover);
                transition:       $TransitionHover;
            }

            &--OptionsShown .FlareSelect_FilterInputContainer .FlareSelect_FilterInput {
                background-color: var(--ColorSet_ThemeColor_Background_60_Focus);
                //border-bottom:    1px solid var(--ColorSet_ThemeColor_AccentBorder_60_Focus);
                //border-left:      1px solid var(--ColorSet_ThemeColor_Border_60_Focus);
                //border-right:     1px solid var(--ColorSet_ThemeColor_Border_60_Focus);
                //border-top:       1px solid var(--ColorSet_ThemeColor_Border_60_Focus);
                //outline:          none;
                transition:       $TransitionSnap;
            }

            .FlareSelect_FilterInputContainer {
                .FlareSelect_FilterInput {
                    @include _InputBase;

                    border-left:   1px solid transparent;
                    border-radius: 2px;
                    border-right:  1px solid transparent;
                    border-top:    1px solid transparent;
                    box-shadow:    none !important;
                    margin:        3px;
                    width:         calc(100% - 6px);
                }
            }
        }

        .FlareSelect_OptionsContainer {
            min-width: 100%;

            section:first-child div:first-child {
                border-top-left-radius:  3px;
                border-top-right-radius: 3px;
            }
        }
    }
}
