@page "/fs3"

<table>
    <tr>
        @* <td style="vertical-align: top; width: 300px;"> *@
            @* @_fs1.Render() *@
            @* <p>BelowBelowBelowBelowBelowBelowBelowBelowBelowBelowBelow</p> *@
        @* </td> *@
        <td style="vertical-align: top; width: 300px;">
            @_fs2.Render()
            <p>BelowBelowBelowBelowBelowBelowBelowBelowBelowBelowBelow</p>
        </td>
    </tr>
</table>