@page "/ft2"

@using FlareSelect
@using FT2
@using Microsoft.AspNetCore.Components.Rendering

@code {
    private readonly List<Option> _data = Generate.Contacts(15).Select(v => v.NameOption).ToList();
    private Option context;

    private FT2<Option> ft2;

    protected override void OnInitialized()
    {
        ft2 = new FT2<Option>(() => _data, (c) => (builder) =>
        {
            builder.OpenElement(0, "p");
            builder.AddMarkupContent(1, c.Text);
            builder.CloseElement();
        });
    }
}

@ft2.Render()

@* <FT2 T="Option" Data="@(() => _data)"> *@
@* *@
@*     <Row> *@
@*         <p>@context.ID</p> *@
@*         <p>@context.Text</p> *@
@*     </Row> *@
@* *@
@* </FT2> *@