.FlareSelect_Container {
    width: 100%;

    &--Monospace * {
        font-family: var(--FontSet-MonospaceFont);
    }

    &--SansSerif * {
        font-family: var(--FontSet-SansSerifFont);
    }

    &:not(.FlareSelect_Container--Disabled) {
        box-shadow: 0 0 3px 1px var(--Colorant_Default_Shadow_0);
    }

    &--Disabled {
    }

    .FlareSelect_SelectedContainer {
        border-radius: 3px;
        box-sizing:    border-box;
        //transition:    $TransitionRestore;
        width:         100%;

        &:not(.FlareSelect_SelectedContainer--Disabled) {
            background-color: var(--Colorant_Default_Background_6);
            border:           1px solid var(--Colorant_Default_Border_6);
            color:            var(--Colorant_Default_Text_6);
            cursor:           pointer;

            .FlareSelect_EmptyPlaceholder {
                color: var(--Colorant_Default_Text_2);
            }
        }

        &:not(.FlareSelect_SelectedContainer--Disabled):hover {
            background-color: var(--Colorant_Default_Background_7);
            border-bottom:    1px solid var(--Colorant_Default_Accent_3);
            border-left:      1px solid var(--Colorant_Default_Border_7);
            border-right:     1px solid var(--Colorant_Default_Border_7);
            border-top:       1px solid var(--Colorant_Default_Border_7);
            //transition:       $TransitionHover;
        }

        &:not(.FlareSelect_SelectedContainer--Disabled).FlareSelect_SelectedContainer--OptionsShown {
            background-color: var(--Colorant_Default_Background_8);
            border-bottom:    1px solid var(Colorant_Default_Accent_4);
            border-left:      1px solid var(--Colorant_Default_Border_8);
            border-right:     1px solid var(--Colorant_Default_Border_8);
            border-top:       1px solid var(--Colorant_Default_Border_8);
            outline:          none;
            //transition:       $TransitionSnap;
        }

        &.FlareSelect_SelectedContainer--Disabled {
            background-color: var(--Colorant_Default_Background_2);
            border:           1px solid var(--Colorant_Default_Border_2);
            color:            var(--Colorant_Default_Text_0);
            cursor:           not-allowed;

            .FlareSelect_EmptyPlaceholder {
                color: var(--Colorant_Default_Text_0);
            }
        }

        > * {
            background-color: unset;
            border:           none;

            &:hover, &:active, &:focus {
                background-color: unset;
                border:           none;
                outline:          none;
            }
        }

        .FlareSelect_Selected {
            align-items: center;
            box-sizing:  border-box;
            display:     flex;
            flex-wrap:   wrap;
            width:       100%;

            .FlareSelect_Selection {
                align-items: center;
                color:       var(--Colorant_Default_Text_6);
                display:     inline-flex;

                .FlareSelect_SelectionRemoveButton {
                    background:   none;
                    border:       none;
                    color:        var(--Colorant_Default_Background_20);
                    cursor:       pointer;
                    flex-shrink:  0;
                    font-family:  'Arial', sans-serif;
                    height:       15px;
                    line-height:  0;
                    margin-left:  1px;
                    margin-right: 2px;
                    outline:      none;
                    padding:      0;
                    width:        15px;

                    &:hover {
                        color: var(--Colorant_Solids_Red_0);
                    }
                }
            }

            .FlareSelect_EmptyPlaceholder {
                cursor:       unset;
                font-style:   italic;
                padding-left: 3px;
                user-select:  none;
            }
        }
    }

    .FlareSelect_OptionsContainer {
        position: relative;
        width:    100%;

        .FlareSelect_Options {
            -moz-background-clip:    padding;
            -webkit-background-clip: padding-box;
            background-clip:         padding-box;
            background-color:        var(--Colorant_Default_Background_8);
            border-left:             1px solid var(--Colorant_Default_Border_8);
            border-radius:           3px;
            border-right:            1px solid var(--Colorant_Default_Border_8);
            border-top:              1px solid var(--Colorant_Default_Border_8);
            box-shadow:              0 0 3px 1px var(--Colorant_Default_Shadow_0);
            color:                   var(--Colorant_Default_Text_5);
            position:                absolute;
            top:                     -0.5px;
            z-index:                 99;

            div {
                border-bottom: 1px solid var(--Colorant_Default_Border_8);
                border-left:   2px solid var(--Colorant_Default_Background_8);
                box-sizing:    border-box;
                cursor:        pointer;
                padding:       3px 4px;
                width:         100%;

                &:hover {
                    background-color: var(--Colorant_Default_Background_9);
                }

                &.FlareSelect_Option--Selected {
                    background-color: var(--Colorant_Default_Accent_4);
                    border-left:      2px solid var(--Colorant_Default_Accent_4);
                    color:            var(--Colorant_Default_Accent_4_Text);

                    &:hover {
                        background-color: var(--Colorant_Default_Accent_3);
                        border-left:      2px solid var(--Colorant_Default_Accent_4);
                    }
                }

                &.FlareSelect_Option--InvalidLengthNotice, &.FlareSelect_Option--Placeholder {
                    background-color: var(--Colorant_Default_Background_8);
                    color:            var(--Colorant_Default_Text_2);
                    cursor:           unset;
                    font-style:       italic;
                    font-weight:      500;
                }

                &.FlareSelect_Option--InvalidLengthNotice {
                    border-bottom-left-radius:  3px;
                    border-bottom-right-radius: 3px;
                    border-left:                2px solid red;
                }

                &.FlareSelect_Option--Disabled {
                    background-color: var(--Colorant_Default_Background_5);
                    border-left:      2px solid red;
                    color:            var(--Colorant_Default_Text_2);
                    cursor:           not-allowed;

                    &:hover {
                        background-color: var(--Colorant_Default_Background_5);
                    }
                }

                &:hover:not(.FlareSelect_FilterInputContainer):not(.FlareSelect_Option--InvalidLengthNotice):not(.FlareSelect_Option--Placeholder):not(.FlareSelect_Option--Disabled) {
                    border-left: 2px solid var(--Colorant_Default_Accent_4);
                }
            }
        }
    }

    .FlareSelect_FilterInputContainer {
        -moz-background-clip:    padding;
        -webkit-background-clip: padding-box;
        background-clip:         padding-box;
        position:                relative;

        .FlareSelect_FilterInput {
            box-sizing: border-box;
            height:     21px;
            outline:    none;
            padding:    1px 4px;
        }

        .FlareSelect_FilterInputSearchIcon {
            position: absolute;
            right:    7px;
            stroke:   var(--Colorant_Default_Background_20);
            top:      7.5px;
            width:    12px;
        }
    }

    &--Single {
        .FlareSelect_SelectedContainer {
            min-height: 23px;
            //transition: $TransitionRestore;

            .FlareSelect_Selected {
                min-height: 23px;

                .FlareSelect_Selection {
                    justify-content: space-between;
                    padding:         0 3px;
                    width:           100%;
                }
            }
        }

        .FlareSelect_OptionsContainer {
            min-width: 100%;

            .FlareSelect_Options {

                .FlareSelect_FilterInputContainer {
                    border-top-left-radius:  3px;
                    border-top-right-radius: 3px;
                    cursor:                  default;
                    padding:                 0;

                    &:hover {
                        background-color: var(--Colorant_Default_Background_8);
                    }

                    .FlareSelect_FilterInput {
                        //@include _InputBase;
                        //
                        //background-color: var(--Colorant_Default_Background_4);
                        //border:           1px solid var(--Colorant_Default_Border_4);
                        //border-radius:    2px;
                        //box-shadow:       none !important;
                        margin: 3px;
                        width:  calc(100% - 6px);
                    }
                }
            }
        }
    }

    &--Multiple {
        .FlareSelect_SelectedContainer {
            min-height: 33px;

            .FlareSelect_Selected {
                min-height: calc(33px);
                padding:    3px;

                .FlareSelect_Selection {
                    background-color: var(--Colorant_Default_Background_5);
                    border:           1px solid var(--Colorant_Default_Border_5);
                    border-radius:    3px;
                    box-sizing:       border-box;
                    cursor:           default;
                    margin:           2px;
                    min-height:       23px;
                    padding-left:     3px;
                    //transition:       $TransitionRestore;

                    &:hover {
                        background-color: var(--Colorant_Default_Background_6);
                        border-bottom:    1px solid var(--Colorant_Default_Accent_4);
                        border-left:      1px solid var(--Colorant_Default_Border_6);
                        border-right:     1px solid var(--Colorant_Default_Border_6);
                        border-top:       1px solid var(--Colorant_Default_Border_6);
                        //transition:       $TransitionHover;
                    }
                }
            }

            &--OptionsHidden:hover .FlareSelect_FilterInputContainer .FlareSelect_FilterInput {
                background-color: var(--Colorant_Default_Background_7);
                //transition:       $TransitionHover;
            }

            &--OptionsShown .FlareSelect_FilterInputContainer .FlareSelect_FilterInput {
                background-color: var(--Colorant_Default_Background_7);
                //transition:       $TransitionSnap;
            }

            .FlareSelect_FilterInputContainer {
                .FlareSelect_FilterInput {
                    //@include _InputBase;
                    //
                    //border-left:   1px solid transparent;
                    //border-radius: 2px;
                    //border-right:  1px solid transparent;
                    //border-top:    1px solid transparent;
                    //box-shadow:    none !important;
                    margin: 3px;
                    width:  calc(100% - 6px);
                }
            }
        }

        .FlareSelect_OptionsContainer {
            min-width: 100%;

            section:first-child div:first-child {
                border-top-left-radius:  3px;
                border-top-right-radius: 3px;
            }
        }
    }
}
