.FlareSelect_Container {
  position: relative; }
  .FlareSelect_Container .FlareSelect_SelectionContainer {
    background-color: #e8e8e8;
    box-sizing: border-box;
    min-height: 20px; }
    .FlareSelect_Container .FlareSelect_SelectionContainer--Multiple {
      align-content: flex-start;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; }
    .FlareSelect_Container .FlareSelect_SelectionContainer .FlareSelect_Selection {
      align-items: center;
      background-color: #b8b8cc;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      margin: 3px;
      padding: 0 20px 0 2px;
      word-break: break-word; }
      .FlareSelect_Container .FlareSelect_SelectionContainer .FlareSelect_Selection .FlareSelect_DeselectContainer {
        position: relative; }
        .FlareSelect_Container .FlareSelect_SelectionContainer .FlareSelect_Selection .FlareSelect_DeselectContainer .FlareSelect_Deselect {
          align-items: center;
          display: flex;
          height: 20px;
          opacity: 0.3;
          position: absolute;
          right: -20px;
          top: -10px;
          width: 20px; }
          .FlareSelect_Container .FlareSelect_SelectionContainer .FlareSelect_Selection .FlareSelect_DeselectContainer .FlareSelect_Deselect:hover {
            opacity: 1; }
          .FlareSelect_Container .FlareSelect_SelectionContainer .FlareSelect_Selection .FlareSelect_DeselectContainer .FlareSelect_Deselect:before, .FlareSelect_Container .FlareSelect_SelectionContainer .FlareSelect_Selection .FlareSelect_DeselectContainer .FlareSelect_Deselect:after {
            background-color: #333333;
            content: ' ';
            height: 10px;
            left: 10px;
            position: absolute;
            top: 5px;
            width: 2px; }
          .FlareSelect_Container .FlareSelect_SelectionContainer .FlareSelect_Selection .FlareSelect_DeselectContainer .FlareSelect_Deselect:before {
            transform: rotate(45deg); }
          .FlareSelect_Container .FlareSelect_SelectionContainer .FlareSelect_Selection .FlareSelect_DeselectContainer .FlareSelect_Deselect:after {
            transform: rotate(-45deg); }
    .FlareSelect_Container .FlareSelect_SelectionContainer .FlareSelect_SearchContainer--Inline {
      width: 100%; }
      .FlareSelect_Container .FlareSelect_SelectionContainer .FlareSelect_SearchContainer--Inline .FlareSelect_Search {
        background: transparent;
        border-bottom: 1px solid #808080;
        border-left: none;
        border-right: none;
        border-top: none;
        height: 20px;
        line-height: 20px;
        margin: 3px;
        padding: 0 2px;
        width: calc(100% - 4 * 2px - 1px); }
  .FlareSelect_Container .FlareSelect_PaneContainer {
    background: #e8e8e8;
    box-sizing: border-box;
    max-width: 100%;
    position: absolute;
    z-index: 5; }
    .FlareSelect_Container .FlareSelect_PaneContainer--Unfocused {
      display: none; }
    .FlareSelect_Container .FlareSelect_PaneContainer--Focused {
      display: inline-block; }
      .FlareSelect_Container .FlareSelect_PaneContainer--Focused .FlareSelect_Pane {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75); }
    .FlareSelect_Container .FlareSelect_PaneContainer .FlareSelect_Pane {
      border-radius: 5px;
      box-sizing: border-box;
      z-index: 5; }
      .FlareSelect_Container .FlareSelect_PaneContainer .FlareSelect_Pane .FlareSelect_SearchContainer .FlareSelect_Search {
        border: 1px solid #808080;
        box-sizing: border-box;
        outline: none;
        width: 100%; }
      .FlareSelect_Container .FlareSelect_PaneContainer .FlareSelect_Pane .FlareSelect_OptionContainer {
        border: 1px solid #808080;
        overflow-y: scroll; }
        .FlareSelect_Container .FlareSelect_PaneContainer .FlareSelect_Pane .FlareSelect_OptionContainer .FlareSelect_Option {
          background-color: #e8e8e8;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .FlareSelect_Container .FlareSelect_PaneContainer .FlareSelect_Pane .FlareSelect_OptionContainer .FlareSelect_Option:hover {
            background-color: #d9d9d9; }
          .FlareSelect_Container .FlareSelect_PaneContainer .FlareSelect_Pane .FlareSelect_OptionContainer .FlareSelect_Option[data-selected] {
            background-color: #b8b8cc; }
      .FlareSelect_Container .FlareSelect_PaneContainer .FlareSelect_Pane .FlareSelect_NoResults {
        border: 1px solid #808080; }

/*# sourceMappingURL=FlareSelect.css.map */