.FlareSelect_Wrapper {
    position: relative;

    .FlareSelect_SelectionContainer {
        background-color: #e8e8e8;
        border-radius:    4px;
        box-sizing:       border-box;
        min-height:       calc(20px + 2 * 3px + 2 * 2px);
        padding:          2px;
        width:            300px;

        &--Single {

        }

        &--Multiple {
            align-content:   flex-start;
            display:         flex;
            flex-wrap:       wrap;
            justify-content: flex-start;
        }

        .FlareSelect_Selection {
            align-items:      center;
            background-color: #b8b8cc;
            border-radius:    2px;
            box-sizing:       border-box;
            display:          flex;
            justify-content:  space-between;
            margin:           3px;
            min-height:       20px; // #1
            padding:          0 20px 0 2px; // #1
            word-break:       break-word;

            .FlareSelect_SelectionValue {
            }

            .FlareSelect_DeselectContainer {
                position: relative;

                // https://codepen.io/brissmyr/pen/egidw
                .FlareSelect_Deselect {
                    align-items: center;
                    display:     flex;
                    height:      20px; // #1
                    opacity:     0.3;
                    position:    absolute;
                    right:       -20px; // -#1
                    top:         -10px; // 20px/2 #1
                    width:       20px; // #1

                    &:hover {
                        opacity: 1;
                    }

                    &:before, &:after {
                        background-color: #333333;
                        content:          ' ';
                        height:           10px; // 20px/2 #1
                        left:             10px; // 20px/2 #1
                        position:         absolute;
                        top:              5px;
                        width:            2px;
                    }

                    &:before {
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .FlareSelect_SearchContainer--Inline {
            width: 100%;

            .FlareSelect_Search {
                background:    transparent;
                border:        none;
                border-bottom: 1px solid grey;
                height:        20px; // #1
                line-height:   20px;
                margin:        3px;
                padding:       0 2px;
                width:         calc(100% - 4 * 2px - 1px);
            }
        }
    }

    .FlareSelect_PaneContainer {
        background:              #e8e8e8;
        border-top-left-radius:  5px;
        border-top-right-radius: 5px;
        box-sizing:              border-box;
        max-width:               100%;

        min-width:               300px;
        position:                absolute;
        z-index:                 5;

        .FlareSelect_Pane {
            border-radius: 5px;
            box-sizing:    border-box;
            z-index:       5;

            .FlareSelect_SearchContainer {
                border-bottom: 1px solid #555555;
                padding:       5px;

                .FlareSelect_Search {
                    border:        1px solid #555555;
                    border-radius: 4px;
                    box-sizing:    border-box;
                    outline:       none;
                    width:         100%;
                }
            }

            .FlareSelect_OptionContainer {
                border-radius: 5px;
                max-height:    300px;
                overflow-y:    scroll;
                padding:       5px;

                .FlareSelect_Option {
                    background-color: #d9d9d9;
                    border:           1px solid #555555;
                    overflow-x:       hidden;
                    text-overflow:    ellipsis;
                    white-space:      nowrap;

                    &:hover {
                        background-color: #cccccc;
                    }

                    &[data-selected] {
                        background-color: #b8b8cc;
                    }
                }
            }

            .FlareSelect_NoResults {
                border-bottom-left-radius:  5px;
                border-bottom-right-radius: 5px;
                padding:                    5px;
            }
        }
    }

    &--Focused .FlareSelect_Pane {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.75);
    }
}


