@typeparam T

@code {

    [CascadingParameter]
    public FlareTable<T> FlareTable { get; set; }

    private async Task Reset(MouseEventArgs args)
    {
        await FlareTable.Reset();
    }

}

<div class="FlareTableResetButton">
    <button class="Integrant.Element.Button Integrant.Element.Button:Default" @onclick="@Reset">Reset</button>
</div>