.FlareSelect_Container {
    //background-color: red;
    width: 100%;

    .FlareSelect_SelectedContainer {
        background-color: var(--ColorSet_ThemeColor_Background_40);
        border:           1px solid var(--ColorSet_ThemeColor_Border_40);
        border-radius:    3px;
        cursor:           pointer;
        width:            100%;

        .FlareSelect_Selected {
            align-items: center;
            display:     flex;
            flex-wrap:   wrap;
            width:       100%;

            .FlareSelect_Selection {
                align-items: center;
                color:       var(--ColorSet_ThemeColor_Text_60);
                display:     inline-flex;

                .FlareSelect_SelectionRemoveButton {
                    background:  none;
                    border:      none;
                    color:       var(--ColorSet_ThemeColor_Background_200);
                    cursor:      pointer;
                    flex-shrink: 0;
                    font-family: 'Times New Roman', serif;
                    height:      15px;
                    line-height: 0;
                    margin-left: 1px;
                    padding:     0;
                    width:       15px;

                    &:hover {
                        color: var(--ColorSet_ThemeColor_SolidRed_0);
                    }
                }
            }
        }
    }

    .FlareSelect_OptionsContainer {
        width: 100%;

        .FlareSelect_Options {
            -moz-background-clip:    padding;
            -webkit-background-clip: padding-box;
            background-clip:         padding-box;
            background-color:        var(--ColorSet_ThemeColor_Background_50);
            border:                  1px solid var(--ColorSet_ThemeColor_Border_50);
            border-radius:           3px;
            color:                   var(--ColorSet_ThemeColor_Text_50);
            position:                absolute;

            div {
                border-bottom: 1px solid var(--ColorSet_ThemeColor_Border_50);
                box-sizing:    border-box;
                cursor:        pointer;
                padding:       3px 4px;
                width:         100%;

                &:hover {
                    background-color: var(--ColorSet_ThemeColor_Background_50_Hover);
                }

                &.FlareSelect_Option--Selected {
                    background-color: var(--ColorSet_ThemeColor_Accent_40);
                    color:            var(--ColorSet_ThemeColor_AccentText);

                    &:hover {
                        background-color: var(--ColorSet_ThemeColor_Accent_30);
                    }
                }

                &.FlareSelect_Option--Placeholder {
                    background-color: var(--ColorSet_ThemeColor_Background_40);
                    color:            var(--ColorSet_ThemeColor_Text_20);
                    cursor:           unset;
                    font-style:       italic;
                    font-weight:      500;
                }

                &.FlareSelect_Option--Disabled {
                    color:  var(--ColorSet_ThemeColor_Text_20);
                    cursor: not-allowed;

                    &:hover {
                        background-color: var(--ColorSet_ThemeColor_Background_50);
                        text-decoration:  line-through;
                    }
                }
            }

            section:last-child div:last-child {
                border-bottom: none;
            }
        }
    }

    .FlareSelect_FilterInputContainer {
        position: relative;

        .FlareSelect_FilterInput {
            box-sizing: border-box;
            height:     21px;
            outline:    none;
            padding:    1px 4px;
        }

        .FlareSelect_FilterInputSearchIcon {
            position: absolute;
            right:    7px;
            stroke:   var(--ColorSet_ThemeColor_Background_200);
            top:      7.5px;
            width:    12px;
        }
    }

    &--Single {
        .FlareSelect_SelectedContainer {
            min-height: 23px;

            .FlareSelect_Selected {
                box-sizing: border-box;
                min-height: 23px;

                .FlareSelect_Selection {
                    justify-content: space-between;
                    padding:         0 3px;
                    width:           100%;
                }
            }
        }

        .FlareSelect_OptionsContainer {
            min-width: 100%;

            .FlareSelect_Options {
                .FlareSelect_FilterInputContainer {
                    cursor:  default;
                    padding: 0;

                    &:hover {
                        background-color: var(--ColorSet_ThemeColor_Background_50);
                    }

                    .FlareSelect_FilterInput {
                        background-color: var(--ColorSet_ThemeColor_Background_40);
                        border:           1px solid var(--ColorSet_ThemeColor_Border_40);
                        color:            var(--ColorSet_ThemeColor_Text_60);
                        margin:           3px;
                        width:            calc(100% - 6px);

                        &:hover {
                            background-color: var(--ColorSet_ThemeColor_Background_40_Hover);
                            border-bottom:    1px solid var(--ColorSet_ThemeColor_AccentBorder_40_Hover);
                            border-left:      1px solid var(--ColorSet_ThemeColor_Border_40_Hover);
                            border-right:     1px solid var(--ColorSet_ThemeColor_Border_40_Hover);
                            border-top:       1px solid var(--ColorSet_ThemeColor_Border_40_Hover);
                        }

                        &:focus, :active {
                            background-color: var(--ColorSet_ThemeColor_Background_40_Focus);
                            border-bottom:    1px solid var(--ColorSet_ThemeColor_AccentBorder_40_Focus);
                            border-left:      1px solid var(--ColorSet_ThemeColor_Border_40_Focus);
                            border-right:     1px solid var(--ColorSet_ThemeColor_Border_40_Focus);
                            border-top:       1px solid var(--ColorSet_ThemeColor_Border_40_Focus);
                        }
                    }
                }
            }
        }
    }

    &--Multiple {
        .FlareSelect_SelectedContainer {
            min-height: 33px;

            .FlareSelect_Selected {
                box-sizing: border-box;
                min-height: calc(33px);
                padding:    3px;

                .FlareSelect_Selection {
                    background-color: var(--ColorSet_ThemeColor_Background_50);
                    border:           1px solid var(--ColorSet_ThemeColor_Border_50);
                    border-radius:    3px;
                    box-sizing:       border-box;
                    cursor:           default;
                    margin:           2px;
                    min-height:       23px;
                    padding-left:     3px;

                    &:hover {
                        background-color: var(--ColorSet_ThemeColor_Background_50_Hover);
                        border:           1px solid var(--ColorSet_ThemeColor_Border_50_Hover);
                    }
                }
            }

            .FlareSelect_FilterInputContainer {
                .FlareSelect_FilterInput {
                    background-color: var(--ColorSet_ThemeColor_Background_40);
                    border-bottom:    1px solid var(--ColorSet_ThemeColor_Border_40);
                    border-left:      1px solid transparent;
                    border-right:     1px solid transparent;;
                    border-top:       1px solid transparent;;
                    color:            var(--ColorSet_ThemeColor_Text_60);
                    margin:           3px;
                    outline:          none;
                    width:            calc(100% - 6px);

                    &:hover {
                        background-color: var(--ColorSet_ThemeColor_Background_40_Hover);
                        border-bottom:    1px solid var(--ColorSet_ThemeColor_AccentBorder_40_Hover);
                        border-left:      1px solid var(--ColorSet_ThemeColor_Border_40_Hover);
                        border-right:     1px solid var(--ColorSet_ThemeColor_Border_40_Hover);
                        border-top:       1px solid var(--ColorSet_ThemeColor_Border_40_Hover);
                    }

                    &:focus, :active {
                        background-color: var(--ColorSet_ThemeColor_Background_40_Focus);
                        border-bottom:    1px solid var(--ColorSet_ThemeColor_AccentBorder_40_Focus);
                        border-left:      1px solid var(--ColorSet_ThemeColor_Border_40_Focus);
                        border-right:     1px solid var(--ColorSet_ThemeColor_Border_40_Focus);
                        border-top:       1px solid var(--ColorSet_ThemeColor_Border_40_Focus);
                    }
                }
            }
        }
    }
}
