.FlareSelect_Container {
    background-color: red;
    width:            100%;

    .FlareSelect_SelectedContainer {
        background-color: blue;
        cursor:           pointer;
        width:            100%;

        .FlareSelect_Selected {
            align-items: center;
            display:     flex;
            flex-wrap:   wrap;
            width:       100%;
        }
    }

    .FlareSelect_OptionsContainer {
        width: 100%;

        .FlareSelect_Options {
            background-color: green;
            border-left:      1px solid black;
            border-right:     1px solid black;
            border-top:       1px solid black;
            position:         absolute;

            div {
                border-bottom: 1px solid black;
                min-height:    15px;
                width:         100%;

                &.FlareSelect_Option--Selected {
                    background-color: purple;
                }
            }
        }
    }

    &--Single {
        .FlareSelect_SelectedContainer {
            min-height: 23px;

            .FlareSelect_Selected {
                background-color: orange;
                box-sizing:       border-box;
                min-height:       23px;

                .FlareSelect_Selection {

                }
            }

        }

        .FlareSelect_OptionsContainer {
            .FlareSelect_Options {
                .FlareSelect_FilterInput {
                    margin: 3px;
                    width:  calc(100% - 6px);
                }
            }
        }
    }

    &--Multiple {

        .FlareSelect_SelectedContainer {
            min-height: 33px;

            .FlareSelect_Selected {
                background-color: blue;
                box-sizing:       border-box;
                min-height:       calc(33px);
                padding:          3px;

                .FlareSelect_Selection {
                    align-items:      center;
                    background-color: #cccccc;
                    border:           1px solid black;
                    border-radius:    3px;
                    //display:          inline-block;
                    box-sizing:       border-box;
                    cursor:           default;

                    display:          inline-flex;
                    margin:           2px;
                    min-height:       23px;

                    .FlareSelect_SelectionRemoveButton {
                        background:  none;
                        border:      none;
                        cursor:      pointer;
                        flex-shrink: 0;
                        height:      15px;
                        line-height: 0;
                        padding:     0;
                        width:       15px;
                        margin-right: 1px;
                        color: black;
                        
                        &:hover {
                            color: red;
                        }
                    }
                }
            }

            .FlareSelect_FilterInput {
                background-color: blue;

                border-bottom:    1px solid black;
                border-left:      none;
                border-right:     none;
                border-top:       none;
                box-sizing:       border-box;
                height:           23px;
                margin:           3px;
                outline:          none;
                padding:          3px;
                width:            calc(100% - 6px);
            }
        }
    }
}
