@import '../_resources/UISet.ShapeSet/Variables/Transitions.scss';
@import '../_resources/UISet.ShapeSet/Elements/Input.scss';
@import '../_resources/UISet.ShapeSet/Elements/Button.scss';

//noinspection SassScssResolvedByNameOnly

.FlareTableContainer {
    border-top: 1px solid var(--ColorSet_ThemeColor_Border_40);
    color:      var(--ColorSet_ThemeColor_Text_40);
    display:    inline-block;
    width:      100%;

    &--Fixed {
        .FlareTableTable {
            table-layout: fixed;
        }
    }

    .FlareTableControlRow {
        align-items:      center;
        background-color: var(--ColorSet_ThemeColor_Background_60);
        border-bottom:    1px solid var(--ColorSet_ThemeColor_Border_50);
        border-left:      1px solid var(--ColorSet_ThemeColor_Border_50);
        border-right:     1px solid var(--ColorSet_ThemeColor_Border_50);
        box-sizing:       border-box;
        display:          flex;
        min-height:       29px;
        padding:          0 2px;

        .FlareTablePaginationSizes {
            margin: 0 2px;

            .FlareTablePaginationSizeSelector {
                @extend .SS_Select;

                font-size: 10pt;
                height:    unset;
                padding:   0;
            }
        }

        .FlareTablePaginationInfo {
            color:        var(--ColorSet_ThemeColor_Text_20);
            font-family:  var(--FontSet-MonospaceFont);
            padding-left: 3px;
            user-select:  none;
        }

        .FlareTableControlFiller {
            flex-grow: 99999;
        }

        .FlareTableControlSpacer {
            width: 10px;
        }

        .FlareTableResetButton {
            button {
                @extend .SS_Button;

                font-family: var(--FontSet-MonospaceFont);
                padding:     2px 6px !important;
            }
        }

        .FlareTablePaginationButtons {
            .FlareTablePaginationButton {
                @extend .SS_Button;

                background-color: var(--ColorSet_ThemeColor_Background_40);
                border:           1px solid var(--ColorSet_ThemeColor_Border_40);
                border-radius:    3px;
                color:            var(--ColorSet_ThemeColor_Text_40);
                font-family:      var(--FontSet-MonospaceFont);
                margin:           1px;
                min-width:        26px;
                padding:          2px 6px !important;
                user-select:      none;

                &:not(:disabled) {
                    cursor: pointer;
                }

                &:not(:disabled):hover {
                    background-color: var(--ColorSet_ThemeColor_Background_40_Hover) !important;
                    border:           1px solid var(--ColorSet_ThemeColor_Border_40_Hover) !important;
                }

                &::-moz-focus-inner {
                    border: 0;
                }

                &--Prev {

                }

                &--Next {

                }

                &--Current {
                    border: 1px solid var(--ColorSet_ThemeColor_Accent_30) !important;

                    &:not(:disabled):hover {
                        background-color: var(--ColorSet_ThemeColor_Background_40_Hover) !important;
                        border:           1px solid var(--ColorSet_ThemeColor_Accent_30_Hover) !important;
                    }
                }

                &--Skipped {
                    position: relative;
                    width:    26px;

                    &:after {
                        bottom:    5px;
                        content:   '...';
                        font-size: 0.8em;
                        left:      calc(0.2em + 0.5px);
                        position:  absolute;
                    }
                }
            }
        }

        .FlareTableColumnToggles {
            align-items: center;
            display:     flex;
            margin:      0 1px;
            user-select: none;

            .SS_CheckboxContainer {
                margin-right: 3px;

                &:last-child {
                    margin-right: 9px;
                }
            }

            //span {
            //    color:  var(--ColorSet_ThemeColor_Text_20);
            //    margin: 0 1px 0 3px;
            //}
        }

        .FlareTableRegexToggle {
            align-items: center;
            cursor:      pointer;
            display:     flex;
            margin:      0 1px;
            user-select: none;

            input[type=checkbox] {
                cursor: pointer;
            }

            span {
                color:  var(--ColorSet_ThemeColor_Text_20);
                margin: 0 1px 0 3px;
            }
        }
    }

    .FlareTableTable + .FlareTableControlRow {
        border-top: 1px solid var(--ColorSet_ThemeColor_Border_50);
    }

    .FlareTableTable {
        border-spacing: 0;
        width:          100%;

        .FlareTableHead {

            .FlareTableHeadingRow {
                section:first-child .FlareTableHeading_Cell {
                    border-left: 1px solid var(--ColorSet_ThemeColor_Border_60);
                }

                .FlareTableHeading_Cell {
                    background-color: var(--ColorSet_ThemeColor_Background_60);
                    border-right:     1px solid var(--ColorSet_ThemeColor_Border_60);

                    &--Hidden {
                        width: 23.5px;
                        //padding: 1px 3px;
                        //width: 15px;
                        //box-sizing: content-box;

                        //width: 24.3999px;
                        //padding: 1px 3px;
                        //width:   15px;
                    }

                    .FlareTableHeading_CellContent {
                        align-items:     center;
                        display:         inline-flex;
                        justify-content: space-between;
                        width:           100%;

                        .FlareTableHeading_CellHeading {
                            flex-grow: 99999;
                        }

                        .FlareTableFilter_ToggleButtonContainer {
                            width: 23.5px;

                            // Eye symbol
                            .FlareTableFilter_ToggleButton {
                                align-items:      center;
                                background-color: var(--ColorSet_ThemeColor_Background_60);
                                border:           solid 1px var(--ColorSet_ThemeColor_Text_50);
                                border-radius:    75% 15%;
                                cursor:           pointer;
                                display:          inline-flex;
                                height:           10px;
                                justify-content:  center;
                                //margin:           0 5px;
                                position:         relative;
                                transform:        rotate(45deg);
                                user-select:      none;
                                width:            10px;

                                &:hover {
                                    background-color: var(--ColorSet_ThemeColor_Background_100);
                                }

                                &:before {
                                    border:        solid 1px var(--ColorSet_ThemeColor_Text_50);
                                    border-radius: 50%;
                                    content:       '';
                                    display:       block;
                                    height:        5px;
                                    position:      absolute;
                                    width:         5px;
                                }
                            }
                        }
                    }
                }
            }

            .FlareTableFilterRow {
                section:first-child .FlareTableFilter_Cell {
                    border-left: 1px solid var(--ColorSet_ThemeColor_Border_60);
                }

                .FlareTableFilter_Cell {
                    background-color: var(--ColorSet_ThemeColor_Background_60);
                    border-bottom:    1px solid var(--ColorSet_ThemeColor_Border_60);
                    border-right:     1px solid var(--ColorSet_ThemeColor_Border_60);
                    padding:          1px;

                    .FlareTableFilter_CellControlContainer {
                        display:         flex;
                        justify-content: space-between;

                        //&:not(:first-child) {
                        //    border-left: 1px solid red;
                        //}

                        .FlareTableFilter_Input {
                            @include _InputBase;

                            box-shadow:    none;
                            font-family:   var(--FontSet-MonospaceFont);
                            height:        22px;
                            margin-bottom: 1px;
                            margin-left:   1px;
                            width:         calc(100% - 25px);

                            &--Invalid {
                                border: 1px solid red;
                            }
                        }

                        .FlareTableFilter_SortButton {
                            align-items:     center;
                            border:          1px solid transparent;
                            border-radius:   3px;
                            cursor:          pointer;
                            display:         inline-flex;
                            font-size:       0.85em;
                            height:          20px;
                            justify-content: center;
                            line-height:     20px;
                            margin-bottom:   1px;
                            margin-right:    1px;
                            user-select:     none;
                            width:           20px;

                            &:hover {
                                background-color: var(--ColorSet_ThemeColor_Background_60_Hover);
                                border:           1px solid var(--ColorSet_ThemeColor_Border_60);
                            }
                        }
                    }
                }
            }
        }

        .FlareTableBody {
            .FlareTableBodyRow {
                &:not(.FlareTableBodyRow--Red):not(.FlareTableBodyRow--Green) {
                    &:nth-child(even) .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_0);
                    }

                    &:nth-child(odd) .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_10);
                    }

                    &:nth-child(even):hover .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_20);
                    }

                    &:nth-child(odd):hover .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_30);
                    }
                }

                &--Green {
                    &:nth-child(even) .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_Green_0);
                    }

                    &:nth-child(odd) .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_Green_10);
                    }

                    &:nth-child(even):hover .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_Green_20);
                    }

                    &:nth-child(odd):hover .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_Green_30);
                    }
                }

                &--Red {
                    &:nth-child(even) .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_Red_0);
                    }

                    &:nth-child(odd) .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_Red_10);
                    }

                    &:nth-child(even):hover .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_Red_20);
                    }

                    &:nth-child(odd):hover .FlareTableCell {
                        background-color: var(--ColorSet_ThemeColor_TR_Red_30);
                    }
                }

                &--Clickable {
                    cursor: pointer;
                }

                .FlareTableCell {
                    border-right: 1px solid var(--ColorSet_ThemeColor_Border_40);
                    padding:      1px 3px;
                    transition:   background-color linear 100ms;

                    &:first-child {
                        border-left: 1px solid var(--ColorSet_ThemeColor_Border_40);
                    }

                    //&--Hidden {
                    //    width: 15px;
                    //}

                    &--Mono {
                        font-family: var(--FontSet-MonospaceFont);
                    }
                }

                &:hover .FlareTableCell {
                    transition: background-color 0s;
                }

                &:not(:hover) .FlareTableCell {
                    transition: background-color 100ms;
                }

                &:not(:first-child) .FlareTableCell {
                    border-top: 1px solid var(--ColorSet_ThemeColor_Border_40);
                }
            }
        }
    }
}