@using FlareLib
@using Microsoft.AspNetCore.Components.Web

@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

@code {

    private ElementClickHandler ElementClickHandler { get; } = new ElementClickHandler();

}

<CascadingValue Value="@ElementClickHandler">
<div @onclick="@(() => ElementClickHandler.OuterClick())">
    @Body
</div>
</CascadingValue>