@using FlareLib
@using Microsoft.AspNetCore.Components.Web

@inherits Microsoft.AspNetCore.Components.LayoutComponentBase

@code {

    private ElementClickHandler ElementClickHandler { get; } = new ElementClickHandler();

    protected override void OnInitialized()
    {
//        ElementClickHandler.OnOuterClickHandled += async () => StateHasChanged();
    }

}

<CascadingValue Value="@ElementClickHandler">
@* <div @onclick="@(() => ElementClickHandler.OuterClick())"> *@
<div>
    @Body
</div>
</CascadingValue>