@using Superset.Common

@typeparam T

@code {

    [CascadingParameter]
    public FlareTable<T> FlareTable { get; set; }

}

<div class="FlareTablePaginationInfo">
    <TriggerWrapper Trigger="@FlareTable.UpdatePageState">
        <span>@FlareTable.Info</span>
    </TriggerWrapper>
</div>