@typeparam T

@code {

    [Parameter]
    public FlareTable<T> FlareTable { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

}

<div class="FlareTableContainer">
    <CascadingValue Value="@FlareTable">
        @ChildContent
    </CascadingValue>
</div>