@typeparam T

@code {

    [CascadingParameter]
    public FlareTable<T> FlareTable { get; set; }

    private async Task HandleCheck()
    {
        await FlareTable.ToggleRegexMode();
    }

}

<TriggerWrapper Trigger="@FlareTable.UpdateTableControls" Protected="true">
    <div class="FlareTableRegexToggle" @onclick="@HandleCheck">
        <input type="checkbox" checked="@FlareTable.RegexMode"/>
        <span>Regex Mode</span>
    </div>
</TriggerWrapper>