@typeparam T

@code {

    [CascadingParameter]
    public FlareTable<T> FlareTable { get; set; }
    
    [Parameter]
    public string ID { get; set; }
    
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
}

@if (FlareTable.ColumnShown(ID))
{
    <td class="FlareTableCell">@ChildContent</td>
}
else
{
    <td class="FlareTableCell FlareTableCell--Hidden"></td>
}
