@using Microsoft.AspNetCore.Components.Web

@typeparam T

@code {

    [CascadingParameter]
    public FlareTable<T> FlareTable { get; set; }

    private void HandleCheck()
    {
        FlareTable.ToggleRegexMode();
    }

}

<div class="FlareTableRegexToggle" @onclick="@HandleCheck">
    <input type="checkbox" checked="@FlareTable.RegexMode"/>
    <span>Regex Mode</span>
</div>