@typeparam T

@code {

    [CascadingParameter]
    public FlareTable<T> FlareTable { get; set; }

}

<TriggerWrapper Triggers="@(new UpdateTrigger[] {FlareTable.OnPagination})">
    <div class="FlareTablePaginationInfo">
        <span>@FlareTable.Info</span>
    </div>
</TriggerWrapper>