@using Microsoft.AspNetCore.Components.Web
@using Superset.Common

@typeparam T

@code {

    [CascadingParameter]
    public FlareTable<T> FlareTable { get; set; }

    [Parameter]
    public string ID { get; set; }

}

<TriggerWrapper Trigger="@FlareTable.UpdateTableHead">
    @if (FlareTable.ColumnShown(ID))
    {
        <th class="FlareTableHeading_Cell">
            <div class="FlareTableHeading_CellContent">
                <span class="FlareTableHeading_CellHeading">@FlareTable.GetColumnDisplayName(ID)</span>
                <div class="FlareTableFilter_ToggleButton" @onclick="@(_ => FlareTable.SetColumnVisibility(ID, false))"></div>
            </div>
        </th>
    }
    else
    {
        <th class="FlareTableHeading_Cell FlareTableHeading_Cell--Hidden">
            <div class="FlareTableHeading_CellContent">
                @* <span class="FlareTableHeading_CellHeading"></span> *@
                <div class="FlareTableFilter_ToggleButton" @onclick="@(_ => FlareTable.SetColumnVisibility(ID, true))"></div>
            </div>
        </th>
    }
</TriggerWrapper>