$ColorSet_ThemeColor_Accent_0: #310d80;
$ColorSet_ThemeColor_Accent_0_Hover: #320d82;
$ColorSet_ThemeColor_Accent_0_Focus: #330d85;
$ColorSet_ThemeColor_Accent_10: #4112a6;
$ColorSet_ThemeColor_Accent_10_Hover: #4212a8;
$ColorSet_ThemeColor_Accent_10_Focus: #4313ab;
$ColorSet_ThemeColor_Accent_20: #5019c6;
$ColorSet_ThemeColor_Accent_20_Hover: #5119c9;
$ColorSet_ThemeColor_Accent_20_Focus: #5219cb;
$ColorSet_ThemeColor_Accent_30: #5d21de;
$ColorSet_ThemeColor_Accent_30_Hover: #5e22e0;
$ColorSet_ThemeColor_Accent_30_Focus: #5f22e3;
$ColorSet_ThemeColor_Accent_40: #6a2eec;
$ColorSet_ThemeColor_Accent_40_Hover: #6b2eef;
$ColorSet_ThemeColor_Accent_40_Focus: #6d2ff2;
$ColorSet_ThemeColor_Accent_50: #7b42f5;
$ColorSet_ThemeColor_Accent_50_Hover: #7c43f8;
$ColorSet_ThemeColor_Accent_50_Focus: #7d44fa;
$ColorSet_ThemeColor_Accent_60: #9262fa;
$ColorSet_ThemeColor_Accent_60_Hover: #9363fd;
$ColorSet_ThemeColor_Accent_60_Focus: #9564ff;
$ColorSet_ThemeColor_Accent_70: #b08dfd;
$ColorSet_ThemeColor_Accent_70_Hover: #b28eff;
$ColorSet_ThemeColor_Accent_70_Focus: #b48fff;
$ColorSet_ThemeColor_Accent_80: #d3bfff;
$ColorSet_ThemeColor_Accent_80_Hover: #d6c1ff;
$ColorSet_ThemeColor_Accent_80_Focus: #d8c3ff;
$ColorSet_ThemeColor_AccentBorder_0: #360e8c;
$ColorSet_ThemeColor_AccentBorder_0_Hover: #3b0f99;
$ColorSet_ThemeColor_AccentBorder_0_Focus: #3e10a1;
$ColorSet_ThemeColor_AccentBorder_10: #4413af;
$ColorSet_ThemeColor_AccentBorder_10_Hover: #4915bb;
$ColorSet_ThemeColor_AccentBorder_10_Focus: #4c15c3;
$ColorSet_ThemeColor_AccentBorder_20: #5219cc;
$ColorSet_ThemeColor_AccentBorder_20_Hover: #571bd8;
$ColorSet_ThemeColor_AccentBorder_20_Focus: #5a1ce0;
$ColorSet_ThemeColor_AccentBorder_30: #5e22e1;
$ColorSet_ThemeColor_AccentBorder_30_Hover: #6424ee;
$ColorSet_ThemeColor_AccentBorder_30_Focus: #6725f5;
$ColorSet_ThemeColor_AccentBorder_40: #6b2eee;
$ColorSet_ThemeColor_AccentBorder_40_Hover: #7131fb;
$ColorSet_ThemeColor_AccentBorder_40_Focus: #7432ff;
$ColorSet_ThemeColor_AccentBorder_50: #7b42f6;
$ColorSet_ThemeColor_AccentBorder_50_Hover: #8246ff;
$ColorSet_ThemeColor_AccentBorder_50_Focus: #8648ff;
$ColorSet_ThemeColor_AccentBorder_60: #9262fb;
$ColorSet_ThemeColor_AccentBorder_60_Hover: #9a67ff;
$ColorSet_ThemeColor_AccentBorder_60_Focus: #9e6aff;
$ColorSet_ThemeColor_AccentBorder_70: #b08dfd;
$ColorSet_ThemeColor_AccentBorder_70_Hover: #b994ff;
$ColorSet_ThemeColor_AccentBorder_70_Focus: #bf98ff;
$ColorSet_ThemeColor_AccentBorder_80: #d3bfff;
$ColorSet_ThemeColor_AccentBorder_80_Hover: #dec9ff;
$ColorSet_ThemeColor_AccentBorder_80_Focus: #e4cfff;
$ColorSet_ThemeColor_Background_0: #ffffff;
$ColorSet_ThemeColor_Background_0_Hover: #ffffff;
$ColorSet_ThemeColor_Background_0_Focus: #ffffff;
$ColorSet_ThemeColor_Background_10: #fafdff;
$ColorSet_ThemeColor_Background_10_Hover: #fdffff;
$ColorSet_ThemeColor_Background_10_Focus: #ffffff;
$ColorSet_ThemeColor_Background_20: #f6faff;
$ColorSet_ThemeColor_Background_20_Hover: #f8fdff;
$ColorSet_ThemeColor_Background_20_Focus: #fbffff;
$ColorSet_ThemeColor_Background_30: #f2f8fe;
$ColorSet_ThemeColor_Background_30_Hover: #f4fbff;
$ColorSet_ThemeColor_Background_30_Focus: #f7fdff;
$ColorSet_ThemeColor_Background_40: #eef6fd;
$ColorSet_ThemeColor_Background_40_Hover: #f1f8ff;
$ColorSet_ThemeColor_Background_40_Focus: #f3fbff;
$ColorSet_ThemeColor_Background_50: #ebf4fc;
$ColorSet_ThemeColor_Background_50_Hover: #edf6ff;
$ColorSet_ThemeColor_Background_50_Focus: #f0f9ff;
$ColorSet_ThemeColor_Background_60: #e8f1fb;
$ColorSet_ThemeColor_Background_60_Hover: #eaf4fe;
$ColorSet_ThemeColor_Background_60_Focus: #ecf6ff;
$ColorSet_ThemeColor_Background_70: #e5eff9;
$ColorSet_ThemeColor_Background_70_Hover: #e7f1fc;
$ColorSet_ThemeColor_Background_70_Focus: #e9f4fe;
$ColorSet_ThemeColor_Background_80: #e1ecf7;
$ColorSet_ThemeColor_Background_80_Hover: #e4effa;
$ColorSet_ThemeColor_Background_80_Focus: #e6f1fc;
$ColorSet_ThemeColor_Background_90: #dee9f4;
$ColorSet_ThemeColor_Background_90_Hover: #e0ebf7;
$ColorSet_ThemeColor_Background_90_Focus: #e2eef9;
$ColorSet_ThemeColor_Background_100: #dae5f0;
$ColorSet_ThemeColor_Background_100_Hover: #dce7f3;
$ColorSet_ThemeColor_Background_100_Focus: #deeaf5;
$ColorSet_ThemeColor_Background_110: #d5e0ec;
$ColorSet_ThemeColor_Background_110_Hover: #d7e3ee;
$ColorSet_ThemeColor_Background_110_Focus: #dae5f1;
$ColorSet_ThemeColor_Background_120: #cfdae6;
$ColorSet_ThemeColor_Background_120_Hover: #d1dde8;
$ColorSet_ThemeColor_Background_120_Focus: #d4dfeb;
$ColorSet_ThemeColor_Background_130: #c8d3de;
$ColorSet_ThemeColor_Background_130_Hover: #cad5e1;
$ColorSet_ThemeColor_Background_130_Focus: #cdd8e3;
$ColorSet_ThemeColor_Background_140: #c0cad5;
$ColorSet_ThemeColor_Background_140_Hover: #c2cdd7;
$ColorSet_ThemeColor_Background_140_Focus: #c4cfda;
$ColorSet_ThemeColor_Background_150: #b6c0ca;
$ColorSet_ThemeColor_Background_150_Hover: #b9c3cd;
$ColorSet_ThemeColor_Background_150_Focus: #bbc5d0;
$ColorSet_ThemeColor_Background_160: #acb6bf;
$ColorSet_ThemeColor_Background_160_Hover: #aeb8c2;
$ColorSet_ThemeColor_Background_160_Focus: #b1bbc4;
$ColorSet_ThemeColor_Border_0: #e6e6e6;
$ColorSet_ThemeColor_Border_0_Hover: #d9d9d9;
$ColorSet_ThemeColor_Border_0_Focus: #cccccc;
$ColorSet_ThemeColor_Border_10: #e1e3e5;
$ColorSet_ThemeColor_Border_10_Hover: #d5d7d9;
$ColorSet_ThemeColor_Border_10_Focus: #c8cacc;
$ColorSet_ThemeColor_Border_20: #dde1e5;
$ColorSet_ThemeColor_Border_20_Hover: #d1d5d8;
$ColorSet_ThemeColor_Border_20_Focus: #c5c8cc;
$ColorSet_ThemeColor_Border_30: #dadfe5;
$ColorSet_ThemeColor_Border_30_Hover: #ced3d8;
$ColorSet_ThemeColor_Border_30_Focus: #c1c6cb;
$ColorSet_ThemeColor_Border_40: #d6dde4;
$ColorSet_ThemeColor_Border_40_Hover: #cad1d7;
$ColorSet_ThemeColor_Border_40_Focus: #bec4ca;
$ColorSet_ThemeColor_Border_50: #d3dbe3;
$ColorSet_ThemeColor_Border_50_Hover: #c7cfd6;
$ColorSet_ThemeColor_Border_50_Focus: #bbc2c9;
$ColorSet_ThemeColor_Border_60: #d0d9e2;
$ColorSet_ThemeColor_Border_60_Hover: #c4cdd5;
$ColorSet_ThemeColor_Border_60_Focus: #b9c0c8;
$ColorSet_ThemeColor_Border_70: #cdd7e0;
$ColorSet_ThemeColor_Border_70_Hover: #c2cad3;
$ColorSet_ThemeColor_Border_70_Focus: #b6bec6;
$ColorSet_ThemeColor_Border_80: #cad4de;
$ColorSet_ThemeColor_Border_80_Hover: #bfc8d1;
$ColorSet_ThemeColor_Border_80_Focus: #b3bbc4;
$ColorSet_ThemeColor_Border_90: #c7d1db;
$ColorSet_ThemeColor_Border_90_Hover: #bbc4ce;
$ColorSet_ThemeColor_Border_90_Focus: #b0b8c1;
$ColorSet_ThemeColor_Border_100: #c3cdd7;
$ColorSet_ThemeColor_Border_100_Hover: #b7c1ca;
$ColorSet_ThemeColor_Border_100_Focus: #acb4bd;
$ColorSet_ThemeColor_Border_110: #bec8d2;
$ColorSet_ThemeColor_Border_110_Hover: #b2bcc5;
$ColorSet_ThemeColor_Border_110_Focus: #a7b0b9;
$ColorSet_ThemeColor_Border_120: #b8c2cc;
$ColorSet_ThemeColor_Border_120_Hover: #adb6bf;
$ColorSet_ThemeColor_Border_120_Focus: #a1aab3;
$ColorSet_ThemeColor_Border_130: #b1bbc4;
$ColorSet_ThemeColor_Border_130_Hover: #a6afb8;
$ColorSet_ThemeColor_Border_130_Focus: #9aa3ab;
$ColorSet_ThemeColor_Border_140: #a9b2bb;
$ColorSet_ThemeColor_Border_140_Hover: #9da6af;
$ColorSet_ThemeColor_Border_140_Focus: #929aa2;
$ColorSet_ThemeColor_Border_150: #9fa8b1;
$ColorSet_ThemeColor_Border_150_Hover: #949ca4;
$ColorSet_ThemeColor_Border_150_Focus: #889097;
$ColorSet_ThemeColor_Border_160: #959da6;
$ColorSet_ThemeColor_Border_160_Hover: #8a9199;
$ColorSet_ThemeColor_Border_160_Focus: #7e858c;
$ColorSet_ThemeColor_Text_0: #8d99a6;
$ColorSet_ThemeColor_Text_10: #7c8691;
$ColorSet_ThemeColor_Text_20: #6b747c;
$ColorSet_ThemeColor_Text_30: #5a6168;
$ColorSet_ThemeColor_Text_40: #4a4e53;
$ColorSet_ThemeColor_Text_50: #393b3e;
$ColorSet_ThemeColor_Text_60: #272829;
$ColorSet_ThemeColor_Text_70: #141415;
$ColorSet_ThemeColor_Text_80: #000000;
$ColorSet_ThemeColor_TR_0: #f0f7ff;
$ColorSet_ThemeColor_TR_10: #ebf2fa;
$ColorSet_ThemeColor_TR_20: #e7eff6;
$ColorSet_ThemeColor_TR_30: #e6edf5;
$ColorSet_ThemeColor_TR_Green_0: #bfe0bf;
$ColorSet_ThemeColor_TR_Green_10: #c8ebc8;
$ColorSet_ThemeColor_TR_Green_20: #cef2ce;
$ColorSet_ThemeColor_TR_Green_30: #d0f5d0;
$ColorSet_ThemeColor_TR_Red_0: #e0bfbf;
$ColorSet_ThemeColor_TR_Red_10: #ebc8c8;
$ColorSet_ThemeColor_TR_Red_20: #f2cece;
$ColorSet_ThemeColor_TR_Red_30: #f5d0d0;
