.FlareTableContainer {
    border-top: 1px solid var(--Colorant_Default_Border_4);
    color:      var(--Colorant_Default_Text_4);
    display:    inline-block;
    width:      100%;

    &--Fixed {
        .FlareTableTable {
            table-layout: fixed;
        }
    }

    .FlareTableControlRow {
        align-items:      center;
        background-color: var(--Colorant_Default_Background_6);
        border-bottom:    1px solid var(--Colorant_Default_Border_5);
        border-left:      1px solid var(--Colorant_Default_Border_5);
        border-right:     1px solid var(--Colorant_Default_Border_5);
        box-sizing:       border-box;
        display:          flex;
        min-height:       29px;
        padding:          0 2px;

        .FlareTablePaginationSizes {
            margin: 0 2px;

            .FlareTablePaginationSizeSelector {
                font-size: 10pt;
                height:    unset;
                padding:   0;
            }
        }

        .FlareTablePaginationInfo {
            color:        var(--Colorant_Default_Text_2);
            font-family:  var(--FontSet-MonospaceFont);
            padding-left: 3px;
            user-select:  none;
        }

        .FlareTableControlFiller {
            flex-grow: 99999;
        }

        .FlareTableControlSpacer {
            width: 10px;
        }

        .FlareTableResetButton {
            button {
                padding: 2px 6px !important;
            }
        }

        .FlareTablePaginationButtons {
            .FlareTablePaginationButton {
                margin:    1px;
                min-width: 26px;
                padding:   2px 6px !important;

                &--Prev {

                }

                &--Next {

                }

                &--Current {
                    border: 1px solid var(--Colorant_Default_Accent_3) !important;
                }

                &--Skipped {
                    font-family: var(--FontSet-MonospaceFont);
                    position:    relative;
                    width:       26px;

                    &:after {
                        bottom:    5px;
                        content:   '...';
                        font-size: 0.8em;
                        left:      calc(0.2em + 0.5px);
                        position:  absolute;
                    }
                }
            }
        }

        .FlareTableColumnToggles {
            align-items: center;
            display:     flex;
            margin:      0 1px;
            user-select: none;

            > span {
                margin-left: 5px;
            }
        }

        .FlareTableRegexToggle {
            align-items: center;
            display:     flex;
            margin:      0 1px;
            user-select: none;

            //input[type=checkbox] {
            //    cursor: pointer;
            //}

            div[class~="Integrant.Element.Bit.Checkbox"] {
            }

            span {
                color:  var(--Colorant_Default_Text_2);
                margin: 0 1px 0 5px;
            }
        }
    }

    .FlareTableTable + .FlareTableControlRow {
        border-top: 1px solid var(--Colorant_Default_Border_5);
    }

    .FlareTableTable {
        border-spacing: 0;
        width:          100%;

        .FlareTableHead {

            .FlareTableHeadingRow {
                section:first-child .FlareTableHeading_Cell {
                    border-left: 1px solid var(--Colorant_Default_Border_6);
                }

                .FlareTableHeading_Cell {
                    background-color: var(--Colorant_Default_Background_6);
                    border-right:     1px solid var(--Colorant_Default_Border_6);

                    &--Hidden {
                        width: 23.5px;
                    }

                    .FlareTableHeading_CellContent {
                        align-items:     center;
                        display:         inline-flex;
                        justify-content: space-between;
                        width:           100%;

                        .FlareTableHeading_CellHeading {
                            flex-grow: 99999;

                            &:empty::after {
                                content: "\00a0";
                            }
                        }

                        .FlareTableFilter_ToggleButtonContainer {
                            width: 23.5px;

                            // Eye symbol
                            .FlareTableFilter_ToggleButton {
                                align-items:      center;
                                background-color: var(--Colorant_Default_Background_6);
                                border:           solid 1px var(--Colorant_Default_Text_1);
                                border-radius:    75% 15%;
                                cursor:           pointer;
                                display:          inline-flex;
                                height:           10px;
                                justify-content:  center;
                                position:         relative;
                                transform:        rotate(45deg);
                                user-select:      none;
                                width:            10px;

                                &:before {
                                    border:        solid 1px var(--Colorant_Default_Text_1);
                                    border-radius: 50%;
                                    content:       '';
                                    display:       block;
                                    height:        5px;
                                    position:      absolute;
                                    width:         5px;
                                }

                                &:hover {
                                    border: solid 1px var(--Colorant_Default_Text_5);

                                    &:before {
                                        border: solid 1px var(--Colorant_Default_Text_5);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .FlareTableFilterRow {
                section:first-child .FlareTableFilter_Cell {
                    border-left: 1px solid var(--Colorant_Default_Border_6);
                }

                .FlareTableFilter_Cell {
                    background-color: var(--Colorant_Default_Background_6);
                    border-bottom:    1px solid var(--Colorant_Default_Border_6);
                    border-right:     1px solid var(--Colorant_Default_Border_6);
                    padding:          1px;

                    .FlareTableFilter_CellControlContainer {
                        box-sizing: border-box;
                        height:     23px;
                        position:   relative;
                        width:      100%;

                        .FlareTableFilter_Input {
                            //@include _InputBase;

                            box-shadow:    none !important;
                            font-family:   var(--FontSet-MonospaceFont);
                            height:        22px;
                            left:          0;
                            margin-bottom: 1px;
                            margin-left:   1px;

                            position:      absolute;

                            &--Invalid {
                                border: 1px solid red;
                            }

                            &--FullWidth {
                                width: calc(100% - 2px);
                            }

                            &--SharedWidth {
                                width: calc(100% - 25px);
                            }
                        }

                        .FlareTableFilter_SortButton {
                            align-items:     center;
                            border:          1px solid transparent;
                            border-radius:   3px;
                            bottom:          0;
                            cursor:          pointer;
                            display:         inline-flex;
                            font-size:       0.85em;
                            height:          20px;
                            justify-content: center;
                            line-height:     20px;
                            margin-bottom:   1px;
                            margin-right:    1px;
                            position:        absolute;

                            right:           0;
                            user-select:     none;
                            width:           20px;

                            &:hover {
                                background-color: var(--Colorant_Default_Background_6_Hover);
                                border:           1px solid var(--Colorant_Default_Border_6);
                            }
                        }
                    }
                }
            }
        }

        .FlareTableBody {
            .FlareTableBodyRow {
                &:not(.FlareTableBodyRow--Red):not(.FlareTableBodyRow--Green) {
                    &:nth-child(even) .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_0);
                    }

                    &:nth-child(odd) .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_1);
                    }

                    &:nth-child(even):hover .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_2);
                    }

                    &:nth-child(odd):hover .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_3);
                    }
                }

                &--Green {
                    &:nth-child(even) .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_Green_0);
                    }

                    &:nth-child(odd) .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_Green_1);
                    }

                    &:nth-child(even):hover .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_Green_2);
                    }

                    &:nth-child(odd):hover .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_Green_3);
                    }
                }

                &--Red {
                    &:nth-child(even) .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_Red_0);
                    }

                    &:nth-child(odd) .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_Red_1);
                    }

                    &:nth-child(even):hover .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_Red_2);
                    }

                    &:nth-child(odd):hover .FlareTableCell {
                        background-color: var(--Colorant_Default_TableRow_Red_3);
                    }
                }

                &--Clickable {
                    cursor: pointer;
                }

                .FlareTableCell {
                    border-right: 1px solid var(--Colorant_Default_Border_4);
                    padding:      1px 3px;
                    transition:   background-color linear 100ms;

                    &:first-child {
                        border-left: 1px solid var(--Colorant_Default_Border_4);
                    }

                    //&--Hidden {
                    //    width: 15px;
                    //}

                    &--Mono {
                        font-family: var(--FontSet-MonospaceFont);
                    }
                }

                &:hover .FlareTableCell {
                    transition: background-color 0s;
                }

                &:not(:hover) .FlareTableCell {
                    transition: background-color 100ms;
                }

                &:not(:first-child) .FlareTableCell {
                    border-top: 1px solid var(--Colorant_Default_Border_4);
                }

                &--NoResults {
                    td {
                        background-color: var(--Colorant_Default_TableRow_30);
                        border-left:      1px solid var(--Colorant_Default_Border_5);
                        border-right:     1px solid var(--Colorant_Default_Border_5);
                        color:            var(--Colorant_Default_Text_2);
                        font-style:       italic;
                        text-align:       center;
                    }
                }
            }
        }
    }
}