.FlareTableContainer {
  border-top: 1px solid var(--Colorant_Default_Border_4);
  color: var(--Colorant_Default_Text_4);
  display: inline-block;
  width: 100%; }
  .FlareTableContainer--Fixed .FlareTableTable {
    table-layout: fixed; }
  .FlareTableContainer .FlareTableControlRow {
    align-items: center;
    background-color: var(--Colorant_Default_Background_6);
    border-bottom: 1px solid var(--Colorant_Default_Border_5);
    border-left: 1px solid var(--Colorant_Default_Border_5);
    border-right: 1px solid var(--Colorant_Default_Border_5);
    box-sizing: border-box;
    display: flex;
    min-height: 29px;
    padding: 0 2px; }
    .FlareTableContainer .FlareTableControlRow .FlareTablePaginationSizes {
      margin: 0 2px; }
      .FlareTableContainer .FlareTableControlRow .FlareTablePaginationSizes .FlareTablePaginationSizeSelector {
        font-size: 10pt;
        height: unset;
        padding: 0; }
    .FlareTableContainer .FlareTableControlRow .FlareTablePaginationInfo {
      color: var(--Colorant_Default_Text_2);
      font-family: var(--FontSet-MonospaceFont);
      padding-left: 3px;
      user-select: none; }
    .FlareTableContainer .FlareTableControlRow .FlareTableControlFiller {
      flex-grow: 99999; }
    .FlareTableContainer .FlareTableControlRow .FlareTableControlSpacer {
      width: 10px; }
    .FlareTableContainer .FlareTableControlRow .FlareTableResetButton button {
      padding: 2px 6px !important; }
    .FlareTableContainer .FlareTableControlRow .FlareTablePaginationButtons .FlareTablePaginationButton {
      margin: 1px;
      min-width: 26px;
      padding: 2px 6px !important; }
      .FlareTableContainer .FlareTableControlRow .FlareTablePaginationButtons .FlareTablePaginationButton--Current {
        border: 1px solid var(--Colorant_Default_Accent_3) !important; }
      .FlareTableContainer .FlareTableControlRow .FlareTablePaginationButtons .FlareTablePaginationButton--Skipped {
        font-family: var(--FontSet-MonospaceFont);
        position: relative;
        width: 26px; }
        .FlareTableContainer .FlareTableControlRow .FlareTablePaginationButtons .FlareTablePaginationButton--Skipped:after {
          bottom: 5px;
          content: '...';
          font-size: 0.8em;
          left: calc(0.2em + 0.5px);
          position: absolute; }
    .FlareTableContainer .FlareTableControlRow .FlareTableColumnToggles {
      align-items: center;
      display: flex;
      margin: 0 1px;
      user-select: none; }
      .FlareTableContainer .FlareTableControlRow .FlareTableColumnToggles > span {
        margin-left: 5px; }
    .FlareTableContainer .FlareTableControlRow .FlareTableRegexToggle {
      align-items: center;
      display: flex;
      margin: 0 1px;
      user-select: none; }
      .FlareTableContainer .FlareTableControlRow .FlareTableRegexToggle span {
        color: var(--Colorant_Default_Text_2);
        margin: 0 1px 0 5px; }
  .FlareTableContainer .FlareTableTable + .FlareTableControlRow {
    border-top: 1px solid var(--Colorant_Default_Border_5); }
  .FlareTableContainer .FlareTableTable {
    border-spacing: 0;
    width: 100%; }
    .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow section:first-child .FlareTableHeading_Cell {
      border-left: 1px solid var(--Colorant_Default_Border_6); }
    .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow .FlareTableHeading_Cell {
      background-color: var(--Colorant_Default_Background_6);
      border-right: 1px solid var(--Colorant_Default_Border_6); }
      .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow .FlareTableHeading_Cell--Hidden {
        width: 23.5px; }
      .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow .FlareTableHeading_Cell .FlareTableHeading_CellContent {
        align-items: center;
        display: inline-flex;
        justify-content: space-between;
        width: 100%; }
        .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow .FlareTableHeading_Cell .FlareTableHeading_CellContent .FlareTableHeading_CellHeading {
          flex-grow: 99999; }
          .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow .FlareTableHeading_Cell .FlareTableHeading_CellContent .FlareTableHeading_CellHeading:empty::after {
            content: "\00a0"; }
        .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow .FlareTableHeading_Cell .FlareTableHeading_CellContent .FlareTableFilter_ToggleButtonContainer {
          width: 23.5px; }
          .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow .FlareTableHeading_Cell .FlareTableHeading_CellContent .FlareTableFilter_ToggleButtonContainer .FlareTableFilter_ToggleButton {
            align-items: center;
            background-color: var(--Colorant_Default_Background_6);
            border: solid 1px var(--Colorant_Default_Text_1);
            border-radius: 75% 15%;
            cursor: pointer;
            display: inline-flex;
            height: 10px;
            justify-content: center;
            position: relative;
            transform: rotate(45deg);
            user-select: none;
            width: 10px; }
            .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow .FlareTableHeading_Cell .FlareTableHeading_CellContent .FlareTableFilter_ToggleButtonContainer .FlareTableFilter_ToggleButton:before {
              border: solid 1px var(--Colorant_Default_Text_1);
              border-radius: 50%;
              content: '';
              display: block;
              height: 5px;
              position: absolute;
              width: 5px; }
            .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow .FlareTableHeading_Cell .FlareTableHeading_CellContent .FlareTableFilter_ToggleButtonContainer .FlareTableFilter_ToggleButton:hover {
              border: solid 1px var(--Colorant_Default_Text_5); }
              .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableHeadingRow .FlareTableHeading_Cell .FlareTableHeading_CellContent .FlareTableFilter_ToggleButtonContainer .FlareTableFilter_ToggleButton:hover:before {
                border: solid 1px var(--Colorant_Default_Text_5); }
    .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableFilterRow section:first-child .FlareTableFilter_Cell {
      border-left: 1px solid var(--Colorant_Default_Border_6); }
    .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableFilterRow .FlareTableFilter_Cell {
      background-color: var(--Colorant_Default_Background_6);
      border-bottom: 1px solid var(--Colorant_Default_Border_6);
      border-right: 1px solid var(--Colorant_Default_Border_6);
      padding: 1px; }
      .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableFilterRow .FlareTableFilter_Cell .FlareTableFilter_CellControlContainer {
        box-sizing: border-box;
        height: 23px;
        position: relative;
        width: 100%; }
        .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableFilterRow .FlareTableFilter_Cell .FlareTableFilter_CellControlContainer .FlareTableFilter_Input {
          box-shadow: none !important;
          font-family: var(--FontSet-MonospaceFont);
          height: 22px;
          left: 0;
          margin-bottom: 1px;
          margin-left: 1px;
          position: absolute; }
          .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableFilterRow .FlareTableFilter_Cell .FlareTableFilter_CellControlContainer .FlareTableFilter_Input--Invalid {
            border: 1px solid red; }
          .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableFilterRow .FlareTableFilter_Cell .FlareTableFilter_CellControlContainer .FlareTableFilter_Input--FullWidth {
            width: calc(100% - 2px); }
          .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableFilterRow .FlareTableFilter_Cell .FlareTableFilter_CellControlContainer .FlareTableFilter_Input--SharedWidth {
            width: calc(100% - 25px); }
        .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableFilterRow .FlareTableFilter_Cell .FlareTableFilter_CellControlContainer .FlareTableFilter_SortButton {
          align-items: center;
          border: 1px solid transparent;
          border-radius: 3px;
          bottom: 0;
          cursor: pointer;
          display: inline-flex;
          font-size: 0.85em;
          height: 20px;
          justify-content: center;
          line-height: 20px;
          margin-bottom: 1px;
          margin-right: 1px;
          position: absolute;
          right: 0;
          user-select: none;
          width: 20px; }
          .FlareTableContainer .FlareTableTable .FlareTableHead .FlareTableFilterRow .FlareTableFilter_Cell .FlareTableFilter_CellControlContainer .FlareTableFilter_SortButton:hover {
            background-color: var(--Colorant_Default_Background_6_Hover);
            border: 1px solid var(--Colorant_Default_Border_6); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow:not(.FlareTableBodyRow--Red):not(.FlareTableBodyRow--Green):nth-child(even) .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_0); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow:not(.FlareTableBodyRow--Red):not(.FlareTableBodyRow--Green):nth-child(odd) .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_1); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow:not(.FlareTableBodyRow--Red):not(.FlareTableBodyRow--Green):nth-child(even):hover .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_2); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow:not(.FlareTableBodyRow--Red):not(.FlareTableBodyRow--Green):nth-child(odd):hover .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_3); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow--Green:nth-child(even) .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_Green_0); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow--Green:nth-child(odd) .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_Green_1); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow--Green:nth-child(even):hover .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_Green_2); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow--Green:nth-child(odd):hover .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_Green_3); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow--Red:nth-child(even) .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_Red_0); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow--Red:nth-child(odd) .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_Red_1); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow--Red:nth-child(even):hover .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_Red_2); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow--Red:nth-child(odd):hover .FlareTableCell {
      background-color: var(--Colorant_Default_TableRow_Red_3); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow--Clickable {
      cursor: pointer; }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow .FlareTableCell {
      border-right: 1px solid var(--Colorant_Default_Border_4);
      padding: 1px 3px;
      transition: background-color linear 100ms; }
      .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow .FlareTableCell:first-child {
        border-left: 1px solid var(--Colorant_Default_Border_4); }
      .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow .FlareTableCell--Mono {
        font-family: var(--FontSet-MonospaceFont); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow:hover .FlareTableCell {
      transition: background-color 0s; }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow:not(:hover) .FlareTableCell {
      transition: background-color 100ms; }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow:not(:first-child) .FlareTableCell {
      border-top: 1px solid var(--Colorant_Default_Border_4); }
    .FlareTableContainer .FlareTableTable .FlareTableBody .FlareTableBodyRow--NoResults td {
      background-color: var(--Colorant_Default_TableRow_30);
      border-left: 1px solid var(--Colorant_Default_Border_5);
      border-right: 1px solid var(--Colorant_Default_Border_5);
      color: var(--Colorant_Default_Text_2);
      font-style: italic;
      text-align: center; }

/*# sourceMappingURL=FlareTables.css.map */